In [1]:
import os
os.getcwd()

'/home/onyxia/work/hackathon-un-2022/notebooks'

In [2]:
os.chdir("..")
import utils.functions as fc
import utils.indicators as indic

In [3]:
from importlib import reload
fc = reload(fc)
indic = reload(indic)

In [4]:
ship_data_enriched = fc.create_ship_data_enriched()

In [5]:
ais = fc.read_ais_all()

In [36]:
ais_22 = ais.loc[(ais["region"] == "Black") & (ais["start_date"] == "2022-04-01"),:].copy()

In [37]:
ais_22.shape

(4642595, 8)

In [38]:
ais_enriched_22 = fc.enrich_AIS_data(ais_22, ship_data_enriched)

In [18]:
#ais_enriched = fc.filter_cargo(ais_enriched)

In [39]:
ais_enriched_22.shape

(3065972, 127)

In [17]:
# function that assigns flag country
#ais_enriched2, origin_countries = indic.assign_country_flag(ais_enriched)

In [40]:
ais_enriched_22["mmsi"].nunique()

1624

In [41]:
ais_enriched_22, res_fuz_match_22 = indic.fuzzy_match_destination_country(ais_enriched_22)

Number of unique destination ports
2338
shape of ais
(3065972, 129)
shape of ais filtered with no na destination
(2726007, 129)
Fuzzy matching in process

/home/onyxia/work/hackathon-un-2022/utils/indicators.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_fuz_match2["true_match"] = np.nan
/home/onyxia/work/hackathon-un-2022/utils/indicators.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_fuz_match2["matched_destination_country"] = np.nan

Classification of destination countries
Turkey            102
Romania            84
Russia             73
Bulgaria           44
Ukraine            41
                 ...
Ireland             1
United Kingdom      1
Antarctica          1
Estonia             1
Mozambique          1
Name: matched_destination_country, Length: 62, dtype: int64
Percentage of boat with matched countries
0.5361189801699717

In [42]:
res_fuz_match_22.head()

,mmsi,matched_destination_country,matched_destination_port,ratio1,raw_port_destination
0,207008000,Bulgaria,VARNA,100.0,VARNA
1,207037000,Bulgaria,VARNA,100.0,VARNA
2,207038000,Bulgaria,VARNA,100.0,VARNA
3,207133000,Bulgaria,VARNA,100.0,VARNA
4,207228000,Bulgaria,VARNA,100.0,VARNA

In [43]:
res_fuz_match_22.shape

(757, 5)

In [44]:
res_fuz_match_22["year"] = "2022"

In [45]:
ais_19 = ais.loc[(ais["region"] == "Black") & (ais["start_date"] == "2019-04-01"),:]

In [46]:
ais_19.shape

(6943856, 8)

In [47]:
ais_enriched_19 = fc.enrich_AIS_data(ais_19, ship_data_enriched)

In [18]:
#ais_enriched = fc.filter_cargo(ais_enriched)

In [49]:
ais_enriched_19.shape

(3778105, 127)

In [17]:
# function qui assigne le pays d'origine
#ais_enriched2, origin_countries = indic.assign_country_flag(ais_enriched)

In [50]:
ais_enriched_19["mmsi"].nunique()

1812

In [51]:
ais_enriched_19, res_fuz_match_19 = indic.fuzzy_match_destination_country(ais_enriched_19)

Number of unique destination ports
4374
shape of ais
(3778105, 129)
shape of ais filtered with no na destination
(3292478, 129)
Fuzzy matching in process

/home/onyxia/work/hackathon-un-2022/utils/indicators.py:116: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_fuz_match2["true_match"] = np.nan
/home/onyxia/work/hackathon-un-2022/utils/indicators.py:121: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res_fuz_match2["matched_destination_country"] = np.nan

Classification of destination countries
Turkey                124
Russia                109
Ukraine               102
Germany                83
Romania                72
                     ...
Fiji                    1
Ireland                 1
Sweden                  1
Thailand                1
Dominican Republic      1
Name: matched_destination_country, Length: 93, dtype: int64
Percentage of boat with matched countries
0.667262969588551

In [53]:
res_fuz_match_19["year"] = "2019"

In [55]:
import pandas as pd
res_fuz_match = pd.concat([res_fuz_match_19, res_fuz_match_22])

In [59]:
res_fuz_match

,mmsi,matched_destination_country,matched_destination_port,ratio1,raw_port_destination,year
0,207007000,Bulgaria,VARNA,100.000000,VARNA,2019
1,207008000,Georgia,POTI,100.000000,POTI,2019
2,207037000,Bulgaria,VARNA,100.000000,VARNA,2019
3,207038000,Denmark,ODENSE,83.333333,OPENSEA,2019
4,207124000,Spain,MARIN,88.888889,MARIUPOL,2019
...,...,...,...,...,...,...
752,677072400,Canada,PORT ALICE,83.333333,TR ALI,2022
753,677075600,Ukraine,KHERSON,100.000000,KHERSON,2022
754,677080700,Canada,PORT ALICE,83.333333,TR ALI,2022
755,677085700,Mozambique,BEIRA,88.888889,BEIRUT,2022
756,677092400,Brazil,VILA DO CONDE,83.333333,RO CND,2022

In [60]:
res_fuz_match.shape

(1876, 6)

In [64]:
import utils.export

In [65]:
export.export2minio("full_traces_destination_countries_by_mmsi_19_22.csv", res_fuz_match)