In [48]:
import os
os.getcwd()

'/home'

In [49]:
os.chdir("..")
import utils.functions as fc
import utils.indicators as indic

In [50]:
from importlib import reload
fc = reload(fc)
indic = reload(indic)

In [51]:
ship_data_enriched = fc.create_ship_data_enriched()

In [52]:
ais = fc.read_ais_parquet()

In [53]:
ais.shape

(4406590, 6)

In [54]:
ais_enriched = fc.enrich_AIS_data(ais, ship_data_enriched)

In [18]:
#ais_enriched = fc.filter_cargo(ais_enriched)

In [11]:
ais_enriched.shape

(2634715, 125)

In [55]:
# function qui assigne le pays d'origine
ais_enriched2, origin_countries = indic.assign_country_origin(ais_enriched)

/home/onyxia/work/hackathon-un-2022/utils/indicators.py:10: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  mmsi_number = pd.read_csv(fs.open(f'{BUCKET}/AIS/mmid.csv',

Classification of origin country
Russian Federation                                                                   387
Republic of TÃ¼rkiye                                                                  158
Panama (Republic of)                                                                 120
Malta                                                                                 70
Liberia (Republic of)                                                                 54
Romania                                                                               47
Marshall Islands (Republic of the)                                                    47
Bulgaria (Republic of)                                                                36
Ukraine                                                                               26
Comoros (Union of the)                                                                21
Sierra Leone                                                                          20
Tanzania (United Republic of)                                                         18
Belize                                                                                15
Georgia                                                                               13
Greece                                                                                12
Togolese Republic                                                                     12
New Zealand - Cook Islands                                                             9
Singapore (Republic of)                                                                8
Palau (Republic of)                                                                    8
Vanuatu (Republic of)                                                                  7
Saint Vincent and the Grenadines                                                       7
Antigua and Barbuda                                                                    6
Bahamas (Commonwealth of the)                                                          6
China (People's Republic of) - Hong Kong (Special Administrative Region of China)      6
Netherlands (Kingdom of the)                                                           6
Norway                                                                                 6
Portugal - Madeira                                                                     6
Moldova (Republic of)                                                                  5
Azerbaijan (Republic of)                                                               5
Cyprus (Republic of)                                                                   4
United Kingdom of Great Britain and Northern Ireland - Cayman Islands                  4
Saint Kitts and Nevis (Federation of)                                                  4
Egypt (Arab Republic of)                                                               3
Denmark                                                                                2
Germany (Federal Republic of)                                                          2
China (People's Republic of)                                                           2
Slovak Republic                                                                        2
Italy                                                                                  2
Barbados                                                                               2
Syrian Arab Republic                                                                   1
Pakistan (Islamic Republic of)                                                         1
Lebanon                                                                                1
United Kingdom of Great Britain and Northern Ireland - Gibraltar                       1
Tuvalu                                                                                 1
Honduras (Republic of)                                                                 1
Serbia (Republic of)                                                                   1
Croatia (Republic of)                                                                  1
Switzerland (Confederation of)                                                         1
Name: origin_country, dtype: int64
Number of missing origin country
(0, 127)

In [36]:
import pandas as pd
pd.option_context('display.max_rows', None)

In [57]:
ais_enriched3["mmsi"].nunique()

1177

In [56]:
# fonction that assigns a destination country
ais_enriched3, destination_ports = indic.assign_destination_country(ais_enriched2)

Percentage missing destination port
0.06966864910790145
Number missing destination port
82
mmsi
207008000    [POTI, VARNA, NECOCHEA, CHORNOMORSK, CHERNOMORSK]
207037000    [VARNA, SMEDEREVO, VARNA     ORAGE, JP SGM NAK...
207038000                              [OPENSEA, PP#23, VARNA]
207094000                                               [None]
207095000                                               [None]
                                   ...
677075600    [KHERSON/UKRAINE, BANDIRMA/TURKEY, LULA FIELD,...
677080700                  [ROSTOV / RUSSIA, BANDIRMA, RU ROV]
677085700                           [RASA, ALEXANDRIA, UA NIK]
677092400                  [BANGHAZI / LIBYA, 0, JP OIT, None]
677096200                      [MISURATA, NLKAM10084HRARE0001]
Name: destination, Length: 1177, dtype: object
Classification of destination countries
Turkey                                           114
Russia                                            90
Romania                                           51
Bulgaria                                          36
Ukraine                                           33
                                                ...
Northern Mariana Islands                           1
Hong Kong                                          1
Lithuania                                          1
Saint Helena, Ascension, and Tristan da Cunha      1
Tunisia                                            1
Name: destination_country, Length: 72, dtype: int64
(622, 2)
0.5284621920135939

In [183]:
import numpy as np
ais_enriched3["destination2"] = (ais_enriched3["destination"].replace("None", np.nan)
                        .replace('B 2 A', np.nan)
                        .replace('J0', np.nan)
                        .replace('0', np.nan)
                        .replace(',',np.nan)
                        .replace('G', np.nan)
                        .replace('I0', np.nan)
                        .replace('C', np.nan)
                        .replace('D', np.nan)
                        .replace('C0', np.nan)
                        .replace('S0', np.nan).replace('M', np.nan)
                        .replace('X', np.nan).replace('A', np.nan)
                        .replace('ZRP', np.nan)
                        .replace('AT SEA', np.nan)
                        .replace("$", np.nan)
                        .replace(r'(\s\/\s[a-zA-Z]+)', '', regex=True)
                        .replace(r'(\/[a-zA-Z]+)', '', regex=True)
                        .replace('FISHING AREA', np.nan))

In [70]:
# cleaning up case when destination = port / country
#ais_enriched3["destination2"]  = ais_enriched3["destination2"].replace(r'^SE\s', '')
#test = ais_enriched3["destination2"].str.extract((r'(SE)(\s)'))

In [184]:
ais_enriched3["destination2"].nunique() # 4038

4037

In [185]:
ais_enriched3["destination2"].unique().tolist()

['BILBAO',
 None,
 'ROTTERDAM',
 'KHERSON',
 'SAMSUN',
 'AMSTERDAM',
 'KALAMIS',
 'FUJAIRAH',
 'PDOCAS PORTO RIO',
 'YAN TAI',
 'DUNEDIN',
 'BAKIRKOY',
 'DURBAN',
 'AU NTL',
 nan,
 '> UA YUZ',
 'BUYUKDERE',
 'ISTANBUL',
 'BUYUKDERE         A0',
 'KRYOS',
 'PHV KM ..',
 'AU BUY',
 'SINGAPORE-',
 'BURGAS',
 'AGBAMI,NIGERIA',
 'DILISKELESI:TURKY',
 'HOUSTON FOR ORDERS',
 'SULINA',
 'VARNA BULGARIA',
 'GALATI>ROMANIA',
 'TRIST',
 'YANBU',
 'LA PAMPILLA',
 'AU DPO',
 'TRIST             A0',
 'LA LIBERTAD',
 'HOPA',
 'HEREKE',
 'IGSAS',
 'SEPT ISLES, CANADA',
 'ISKENDERUN',
 'ISKENDERUL',
 'KARABIGA',
 'GUARD POLARCUS ASIMA',
 'ALIAGA',
 'ORDER',
 'YUZHNY',
 'ROGAL',
 'BRAILA',
 'TRGEM',
 'ROSTOV RU ROV',
 'PA PAN',
 'JP NGO OFF',
 'ROSTOV RU',
 'SAMSUN TR SSX',
 'BANDIRMA TR BDM',
 'GEMLIK',
 'KARTAL',
 'SIGRI_GR',
 'TUZLA',
 'IZMIT BAY',
 'TEMRYUK',
 'IZMIT',
 'CONSTANTA',
 'MINDELO',
 'PTPDL',
 'UST LUGA',
 'BRPNG',
 'ES CEU',
 'FIKTK',
 'RUULU',
 'SG SIN',
 'ISTANBUL0',
 'CAPE TOWN, RSA',
 'CRMOB',
 'ISTAN',
 'ISTANBULI',
 'ISTANBULB3',
 "ISTANAIZ'&CT4M C<0",
 'ISTANBULA0',
 'ISTANBULH0',
 'HARVEST CAYE',
 'BEIRO',
 'BGBOJ>TRMER',
 'TH SRI',
 'TRMER>LBSEL',
 'MERSIN',
 'LBSEL>TRTGT',
 'TRTGT>TRSSX',
 'CNNGB >> USLGB',
 'B OFF',
 'ISTINYE-CUBUKLU',
 'LYTTELTON',
 'C J K',
 'WLADYSLAWOWO',
 'NZ NSN',
 'PRIMORSK',
 'LAZ. CARDENAS,MEXICO',
 'ISTANBUL          B',
 'BREST',
 'BOSPHORUS',
 'BOSPHORUS         0',
 'BOSPHORUS         A0',
 'BOSPHORUS         H0',
 'BOSPHORUS        !',
 'BOSPHORUS         L0',
 'BOSPHORUS         D',
 'PASALIMANI',
 'BOSPHORUS         I0',
 'NEMRUT',
 'IZMIR',
 'ROSTOV ON DON',
 'RU ROV',
 'RU YEY',
 'DAMIETTA',
 'GEBZE',
 'OPL KAVKAZ',
 'OPL KAVKAZ0',
 'OPL KAVKAZB',
 'TEKIRDAG',
 'ROSTOV',
 'TR SSX',
 'TR IZM',
 'NOVOROSSIYSK',
 'TARTOUS',
 'AZOV',
 'OSAKA',
 'SEA EAGLE',
 'KAVKAZ',
 'KAVKAZCAZ',
 'KAVKAZPLAN',
 'NEW YORKCHINA',
 'TRGEB',
 'ASYAPORT',
 'TRALI',
 'GRPIR',
 'ITGIT',
 'TREYP',
 'TRYAR',
 'ROCND',
 'TRYAR            "LI',
 'ROCND             G',
 'ROCND             0',
 'RUNVS',
 'BANDIRMA',
 'YEISK',
 'EBGC',
 'MD GIU',
 'FISHING GROUND',
 'TR GEM',
 'MA CUN',
 'BUSAN',
 'YALOVA',
 'UA NIK',
 'TRIESTITALY',
 'SINGAPORE-PEBGB',
 'ANCNAIT',
 'STANBULTR',
 'STANBULTRCDOROI',
 'TEMRUK RU',
 'ALEXANDRIA',
 'ALEXANDRI',
 'DNIPROPETROVSK',
 'ROSTOV-ON-DON',
 'TR DRC',
 'TR DRCCULAR !',
 'DERINCE',
 'TR DRC<0LC',
 'RAVENNA',
 'SALERNO',
 'RUAZO',
 'TRMER',
 'TRMRW',
 'ROSOC',
 'BGVAR',
 'VALENCIA',
 'TRBOR',
 'MATNG',
 'MAPTM',
 'MACAS',
 'PORTHACOURT',
 'BJORKO-LA.VARHOLMEN',
 'ING AREA',
 'ZONA DE PESCA',
 'CANAKKALE',
 'US_NYC',
 'NAVARRO',
 'RENSBURG',
 'FORT LAUDERDALE',
 'DILISKELESI',
 'MOMBASA KENYA',
 'JP TMK',
 'SEFINE SHIPYARD YLOV',
 'SEFINE',
 'YALOUA',
 'ROAD ISTANBUL',
 'USCHI><USCHI',
 'ROAD ISTANBUL     0',
 'ROAD ISTANBUL     F0',
 'KAVKAZ    RUSSIA',
 'DILISKELESI TURKEX',
 'DILISKELESI TURKEY',
 'HOBART',
 'RU NVS',
 'VOUDHIA BAY',
 'ALIAGA TURKEY',
 'ALIAGA TUP',
 'GENOVESA',
 'JINGTANG,CHINA',
 'PORT',
 'RESEARCH OPERATION',
 'RESEARCH OPERATIOL',
 'NELSON NZ',
 'EDEN',
 'OFF CROMER',
 'SARAYLAR',
 'NAFPLION',
 'GULLUK',
 'GULLUKCDOROI',
 'GH TKD',
 'CANNES',
 'GIURGIULESTI',
 'KARASU',
 'TRABZON TURKEY',
 'OLGOVSKAYA',
 'ORLOVSKOE',
 'ASTRAHAN',
 'CASTELLON',
 'CHALKIS',
 'STUTZELBERG',
 '>JP ANE',
 'MZ MPM',
 'THESSALONIKI',
 'MIL0S',
 'MILOS ISLBOR ORDER',
 'MILOS ISLB)',
 'MILOS ISLA',
 'MILOS ISL',
 'KOPER SLOVENIA',
 'EREGLISI',
 'NOVOROSSIX',
 'BARTIN',
 'BERDYANSK',
 'ILLICHIEVSK',
 'JPSMZ',
 'RADES',
 'RADESI',
 'RADES0VP$D4<8R',
 'GABES',
 'LAS PALMAS',
 'BIK',
 'TR NEM',
 'PYUNGTAEK',
 'EG AKI',
 'TR INE',
 'INEBOLU',
 'TR ISK',
 'RO BRA',
 'TR TGT',
 'FUJAIRAH,FOR.ORDER',
 'EREGLI',
 'WERKENDAM',
 'DILISKELESI  B?L',
 'RO CND',
 'UA ODS',
 'IT RAN',
 'IT MNP',
 'MONTEVIDEO',
 'AWAITING ORDERS',
 'CONSTANTA/',
 'NANJING',
 'ROSTOV ON!MAN',
 'LEBANON',
 'CONSTANZA',
 'TAGANROG',
 'TEMRYUKH',
 'GALATI',
 'SYDNEY',
 'IL HFA',
 'TR ISKB ANCHORAGE',
 'RU AZO',
 'KALAMAKI GR',
 'GR KALAMAKI',
 'KALAMAKI D',
 'VOLGODONSK',
 'HUAOGSHI',
 'KR KAN',
 'AU GLT',
 'MARGHERA',
 'IT PNG',
 'ROTA',
 'INIM FIELD',
 'SAMSUNC',
 'CHONGQING',
 'SAMSUNHIRA',
 'SAMSUNCDOROI',
 'ZA RCB',
 'ROTOV ON DON',
 'VESME ITALY',
 'VESME ITAODOROI',
 'PORTOVESME (ITALY)',
 'BIK_IRAN',
 'CLYDE AREAS',
 'LYBEN',
 'ITNAP',
 'ITNAPB',
 'LYMRA',
 'PIRAEUS',
 'NWBS',
 'DA LIAN',
 'KAVKAZI0',
 'KAVKAZC !',
 'KAVKAZB',
 'EGEDK',
 'CYLMS',
 'LBBEY',
 'TRISK',
 'LFVEY            0!',
 'TRMER    !R',
 'EGEDK         "C"0PP',
 'ITTRS',
 'RASA',
 'JP SMZ',
 'JP YOK',
 'JP TYO',
 'YOK DE',
 'JP TYO O',
 'JP NGO',
 'JP UKB',
 'JP MOJ',
 'JP HTD OFF',
 'KR PUS',
 'KR PUQJ KAITA',
 'TW KEL',
 'TW KHH',
 'VN HPH',
 'MOSS',
 'MOSSEJE',
 'MOSSBG',
 'MOSSC',
 'MOSSAGN',
 'MOSSBNOENG',
 'MOSSBORG',
 'MOSSSANDE',
 'MOSSA',
 'MOSSAAST',
 'MOSSALS',
 'MOSSSODRA SKARGARO',
 'MOSSA AREA',
 'MOSSBJERG - TARS',
 'MOSSBOEHAVN',
 'MOSSBEN',
 'MOSSREV 3',
 'MOSSAEDIA',
 'MOSSO',
 'SE GOT',
 'SE KOG',
 'SE KOGLEAR.0.5NM',
 'SE KODEJE',
 'SE KOE',
 'SE KOGE+NEKSELOE+SEJ',
 'SE KOF',
 'SE KOFON',
 'SE KOD',
 'SE KODREV 3',
 'SE KODALS',
 'SE KOFOEN',
 'SE GOVLVRIX',
 'SE GOU',
 'SE KOERBORG',
 'SE KOFG',
 'SE KOEPETERSBURG',
 'SE KODER',
 'SE KOGERVICE AALBORG',
 'SE KOEZEN',
 'SE KOEGA RUSSIA',
 'SE KOFG GROUND',
 'SE KODAGEN',
 'SE KOD> SESTE',
 'SE KOENED',
 'SE KOFT',
 'VENICE',
 'NL RTM',
 'ANCONA',
 'LIMASSOL',
 'LIMASSOL  LE KO RHO',
 'BEIRUT',
 'ISKENDRUN',
 'MISURATA',
 'NLKAM10084HRARE0001',
 'ESVLC>ITGIT',
 'ZA SDB',
 'ITGIT - ILHFA',
 'ILHFA>EGEDK',
 'EGEDK>ILAP',
 'ILASH>RUNVS',
 'ILASH>RUNT',
 'RUNVS>EGEDK',
 'ILASH>EGEDK',
 'ILASH>EGEDN',
 'RUNVS>CYLL',
 'RUNVS>CYLMS',
 'USPDX>CNSHA',
 'DALRYMPLE BAY',
 'RUI AN',
 'CN LYG',
 'CHIMBOTE          <',
 'BLOCK 17',
 'AALSMEER',
 'BLOC 17',
 'INDIA TURN BASIN',
 'MR NDB',
 'AU PWL',
 'GIGIB',
 'SGSIN',
 'MONTREAL#57',
 'SINGAPORE',
 'CALLAO',
 'YANTIAN',
 'ZHU     HAI',
 'CNSHA>CNTXG',
 'CNTXG>>CNYNT',
 'ICHTHYS OIL FIELD',
 'ENSHU NADA',
 'ENSHU NAD',
 'CHIBA JPN',
 'CHIBA JPN!',
 'PRINCE RUPERT CAN',
 'CHIBA JPN OFF',
 'CHIBA JPN"F',
 'TW TXG',
 'NAKHODKA',
 'RU VVO',
 'KR KPO',
 'HONG KONG',
 'KAOHSIUNG.TAIWAN',
 'DOCAU',
 'MAILIAO',
 'GB IMM',
 'ID CXP',
 'BE ANR',
 "YEOSU S'KOREA",
 'PL19_3WHPA',
 "DONGHEA,S'KOREA",
 'GNKMR>SGSIN',
 'FOR ORDER',
 'VOSTOCHNY',
 'LONDONDERRY',
 'CAOFEIDIAN,CHINA',
 'CN DLC',
 'PA BLB',
 'ROSARIO',
 'FISHNING GROUNDS',
 'SAN VICENTE',
 'KHOR AL ZUBAIR',
 'CAPE TOWN',
 'ES VGO',
 'PESCA',
 'ESLPA',
 'ARMGUARD O.B',
 'PORT EVERGLADES',
 'FAENANDO',
 'ASUNCION',
 'ES ALG',
 'FREEPORT BAHAMAS',
 'SAR REGION',
 'CAACUPEMI',
 'US HOU',
 'US HOWTON TX',
 'CL ARI',
 'NLRMT',
 'GI GIB',
 'GI +AJ"%   U1BAP5',
 'ID MAK',
 'BS FPO',
 'AUCKLAND',
 'POINTE NOIRE OPL',
 'TEMA.GHANA',
 'DUISBURG',
 'BARRANCABERMEJA',
 'NX EUX',
 'BALTIMORE',
 'BR PRM',
 'CAPE HENRY',
 'SUEZ CANAL',
 'PORT SAID',
 'QINGDAO,CHINA',
 'WUHU',
 'CARTAGENA',
 'TO ORDER',
 'TUAPSE',
 'CASABLANCA',
 'CEUTA',
 'IT_PFX',
 'MT MAR',
 'GR AGT',
 'GRAPY',
 'DZALG',
 'DJENO CONGO',
 'TUBARAO',
 'ISAFJORDUR',
 'WALVIS BAY',
 'DARDANELLES',
 'CYDHK',
 'RUTUA',
 'RUTUA0',
 'KAVKAZ OPL',
 'LAVERA',
 'DE BKE',
 'ES CAD',
 'KWANGYANG',
 'EG DAM',
 'EG DAMAALTA',
 'EGPSD >ZOHR    FIELD',
 'PT SET',
 'PT AVE',
 'ES AVS',
 'SE PIT',
 'SKAW',
 'SE PIVG',
 'SE PITBORG',
 'SE PIW',
 'SE PIUK',
 'SE PIWPORT',
 'SE PITLADSEN',
 'SE PIUBORG',
 'SE PIW SEA FISHING',
 'SE PITROADS',
 'SE PIVG GROUNDS <><',
 'SE PITSERVICE',
 'SE PIWUND',
 'SE PITERSBURG',
 'SE PIU',
 'SE PITEJE DK',
 'SE PITFOR INFO',
 'SKAWCTED',
 'SE PITOLM',
 'SE PIVEON',
 'SE PIVON',
 'SE PIWER',
 'SE PIVI',
 'SE PIWBOLAGET FRAKT',
 'SE PIUID',
 'SE PIUFOHR=DAGEBULL',
 'SE PITSANDE',
 'SE PIVG GROUND',
 'SKAWA',
 'SE PIUKOEBING',
 'SE PIVORG',
 'SE PIUMPTON',
 'SE PIVAEK',
 'SE PIT AND RESCUE',
 'SE PITAMN',
 'SE PIVOEN',
 'SE PIVRUPLP',
 'SE PIVING OPR.',
 'SE PIVICIA',
 'SE PIVG<=>HR3OWF',
 'SE PIT> DKNBG',
 'SE PIVODE-VITTE',
 'DE RSK',
 'DE RSJUP STRAD',
 'DE RSH',
 'DE RSJ',
 'DE RSIRDEN-ROEDBY',
 'DE RSIBA',
 'DE RSJICIA DK',
 'DE RSIG',
 'DE RSJG',
 'DE RSJORG',
 'DE RSHAGEN',
 'DE RSJEV1',
 'TRIZM',
 'UAODS',
 'TOWING 12 6NM CABLE',
 'TOWING 10',
 'TOWING 12 6NM CABLF',
 'ES CAR',
 'FOR ORDERS',
 'WEST AFRICA',
 'EGINA',
 'EGINA NIGERIA',
 'ALGER',
 'FOR ORDER        "',
 'EG ALY',
 'SOUSSAKI',
 'GR SOUSSAKI',
 'IT TAR',
 'NL RTMBGHOLME V',
 'FRURO',
 'TRIPOLI',
 'ESCAR',
 'BIZERTE',
 'BLACK SEA',
 'BLACK SEA TO ORDER',
 'NIKOLAEV',
 'BLACK SEA TO ORDEP',
 'SAGUNTO  ',
 'SAGUNTO     E0',
 'BARCELONA',
 'DZ BJA',
 'SOUTH ORKNEY ISLANDS',
 'VANCOUVER CANADA',
 'MT MLA',
 'CALETA TORTUGA',
 'TR MER',
 'NL AMS',
 'TERSCHELLING',
 'DE BRE',
 'MOSSELBAY',
 'ALEXANDRIAN',
 'PORTSAID',
 'SAFAGA',
 'TEXAS CITY',
 'MAJFL',
 'TARRAGONA',
 'TARRAGONA         A',
 'TERNEUZEN',
 'TERNEUZEN         0',
 'ESVGO',
 'TRNEM',
 'TRDIL',
 'NOUAKCHOTT',
 'NOUAKCHOTT       #??',
 'PANAMA,BALBOA',
 'BERRY PT',
 'NAPROMYSLE',
 'PDM  BR',
 'DAKAR',
 'NZTIU',
 'DPS1',
 'HUIS',
 'SEAL ROCKS',
 'PTSET',
 'PTAVE',
 'ESAVS',
 'TRISK"24EHLFLEHP$8',
 'TRISK            #P>',
 'DEHAM',
 'DEBRV',
 'NODRM',
 'NODRMCRONA',
 'NOOSL',
 'NOLAR',
 'DEHAMOLM',
 'DEHAMBDEWVN',
 'ANGRA DOS REIS_BR',
 'NODRMBG',
 'NODRMC',
 'DEHAMANGRAD',
 'DEHAMC',
 'DEHAMBG',
 'DEHAMANG',
 'DEHAMARA DA FOZ',
 'DEHAMA',
 'DEHAMANED',
 'DEHAMT',
 'DEHAMB - FYNSHAV',
 'DEHAMADA',
 'DEHAM>FOHR<>DAGEBUL',
 'DEHAMBRO',
 'DEHAMBIA NOK',
 'DEHAMABORG',
 'DEHAMBDERS',
 'DEHAMSTATION SJ.REV',
 'DEHAMCRDEN',
 'NODRMB',
 'NODRMBG ON BALTIC',
 'NODRMALS',
 'NODRMBORG',
 'NODRMBDKAAR',
 'NODRMAINDE',
 'NODRMCUND',
 'NODRMAN',
 'NODRMBDER',
 'NODRMBY - LIST - HA',
 'NODRMCLEV',
 'NODRMBDAM',
 'NODRMC-ODDEN-AARHUS',
 'NODRMA',
 'DEHAMCE',
 'DEHAMCRONA',
 'DEHAMBG, DK',
 'DEHAMB FOR INFO.',
 'DEHAM> DKSKA',
 'DEHAMCTAD-SWI',
 'DEHAMBON',
 'RU KGD',
 'RU KGDING',
 'RU KGFG',
 'NO OSLO',
 'NO OSL',
 'NO OSNON',
 'NO OSNG',
 'NO OSN',
 'NO OSLMSHAVEN',
 'NO OSOIN',
 'NO OSM',
 'NO OSNP',
 'NO OSNG GROUND',
 'NO OSLVIA NOK',
 'NO OSN3-ESB',
 'NO OSNEV 3 OWF',
 'NO OSL-SEGOT-DEKIEL',
 'NO OSMR',
 'NO OSNDOE',
 'NO OSMGA',
 'NO OSLING FISH',
 'RU KGEDA',
 'RU KGFWYK<>DAG',
 'RU KGEVN',
 'RU KGDING SKAW',
 'RU KGDLING',
 'RU KGDBG 3',
 'RU KGF',
 'RU KGFG GROUND',
 'RU KGD>FRBOD',
 'RU KGDOLM;',
 'RU KGDEERNESS',
 'RU KGFOR INFO',
 'RU KGDRELEB',
 'RU KGG',
 'RU KGERBORG',
 'RU KGDAGEN',
 'RU KGFG GROUNDS',
 'RU KGE SIRI',
 'RU KGDFIELDS',
 'RU KGF DUTY',
 'RU KGDO',
 'RU KGENKER ONE',
 'RU KGERM RODSAND2',
 'RU KGELLIGAU',
 'RU KGGBORG',
 'RU KGFICIA',
 'RU KGGRUND OWF',
 'RU KGDAVN',
 'RU KGDMEN WEST',
 'RU KGE',
 'RU KGGVESSEL',
 'RU KGGLM_',
 'RU KGEKOEBING',
 'RU KGDBORG',
 'RU KGFON-AGGER',
 'NO OSNDAM',
 'NO OSLOLM',
 'NO OSNOOG',
 'NO OSMMM BALTIC 1',
 'NO OSLSANDE',
 'NO OSOK',
 'NO OSNANCE',
 'NO OSO',
 'NO OSMBING',
 'NO OSLOLTENAU',
 'NO OSNFJORDUR',
 'NO OSNURG',
 'NO OSN DUTY',
 'NO OSLALS',
 'NO OSN <-> NYSTED WF',
 'NO OSM_VEN',
 'NO OSLBORG',
 'NO OSLTAR',
 'NO OSMS',
 'NO OSLBOARDING AREA',
 'NO OSN > NL RTM',
 'NO OSLPELLW+NORDSTR',
 'NO OSNUGT',
 'NO OSNFOERDE GER',
 'NO OSOV',
 'NO OSOANAL',
 'RU KGFBURG PEC62617',
 'RU KGGRG',
 'RU KGGK',
 'RU KGDK',
 'RU KGE>NLRTM',
 'RU KGDBANDHOLM',
 'RU KGE WIND PARK',
 'RU KGFG VHF16',
 'RU KGE>SE KLR',
 'RU KGENG OPERATION',
 'RU KGDARNE PLATFORM',
 'RU KGEKSHAVN',
 'RU KGGERVICE GOTPORT',
 'RU KGFED',
 'RU KGGJDEN - FYNSHAV',
 'RU KGDB',
 'RU KGDAGEN-DKCPH',
 'RU KGG BAAGOE ASSENS',
 'RU KGEZEN',
 'RU KGF0N',
 'RU KGFJERG - TARS',
 'RU KGGK. SVENDB. RT',
 'RU KGENGE',
 'RU KGFOEN',
 'RU KGFGBORG',
 'RU KGD<=> DKFDH',
 'IE DUB',
 'IE DUBG',
 'IE DU',
 'DEBRV"EN',
 'DEBRV VIA BELT',
 'DEBRV SANDE',
 'DEBRV SERVICE',
 'DEBRV!L-TRA',
 'DEBRV"',
 'RUULU VIA NOK',
 'DEWVN',
 'RUULU#K',
 'RUULU#E+NEKSELOE+SEJ',
 'RUULU AGEN',
 'RUULU#',
 'FIHEL',
 'EETLL',
 'EESLM',
 'DEBRV!DA',
 'DEBRV OLM',
 'DEBRV!',
 'DEBRV"ORG',
 'DEBRV!><ANH-WINDFARM',
 'DEBRV"G',
 'DEBRV#K',
 'DEBRV A-CUX',
 'DEBRV!JSCIE',
 'DEBRV#',
 'DEBRV"KI',
 'DEBRV"EV 3 OWF',
 'DEBRV!FINED',
 'DEBRV"DE',
 'DEBRV"0N',
 'DEBRV!LLA',
 'DEBRV!G-HOV-SAELVIG',
 'DEBRV!AGERSOE',
 'DEBRV" DUTY',
 'DEBRV#WIN-YSTD',
 'DEBRV#K - WINDFARM',
 'DEBRV"BURG',
 'DEBRV"GGROUNDS',
 'DEBRV  OIL FIELD',
 'DEBRV" > SE GVX',
 'DEBRV 00',
 'DEBRV#RONA',
 'DEBRV"ON',
 'DEBRV"BURG SWEDEN',
 'DEBRV!EK',
 'DEBRV"S',
 'DEBRV#LEAR 0.3NM AFT',
 'DEBRV BORG',
 'DEBRV RAND',
 'DEBRV"DAM',
 'DEBRV"G V',
 'DEBRV!SP.BJERG',
 'DEBRV#PING',
 'DEBRV# - 0DDEN',
 'RUULU"',
 'RUULU!R',
 'RUULU!ZEN',
 'RUULU"UP',
 'RUULU!BORG',
 'RUULU FOR DEST',
 'RUULU#WF',
 'RUULU OLM',
 'RUULU >NOOSL',
 'RUULU"GEN',
 'RUULU!DEKEL-SEGOT',
 'RUULU"G',
 'RUULU"OM',
 'RUULU" BOUY 74',
 'SEBRO LADSEN',
 'SEBRO',
 'SEBRO SANDE',
 'SEBRO"BURG',
 'RU  ULU',
 'AMT',
 'RU PRI',
 'RU PRH',
 'RU PRJ',
 'NL RTNHAVN',
 'NL RTNG',
 'NL RTMK-OROE',
 'NL RTL',
 'NL RTMGGE',
 'NL RTORG',
 'NL RTO',
 'NL RTM PUTTGARTEN',
 'NL RTOLEAR.0.5NM',
 'NL RTLBUGT',
 'NL RTNBAELT',
 'NL RTOAR',
 'NL RTMAE',
 'NL RTO VIA NOK',
 'NL RTNG0R',
 'NL RTNON',
 'NL RTOBORG',
 'NL RTORULED',
 'NL RTN',
 'NL RTO-ODDEN-AARHUS',
 'NL RTNDERS',
 'NL RTLFOR INFO',
 'NL RTMHAVN',
 'NL RTNRO',
 'NL RTLBRK',
 'NL RTNORG',
 'NL RTNOROEN',
 'NL RTMGA',
 'NL RTNG CH.16',
 'NL RTLREV 3',
 'NL RTNG DK',
 'NL RTOAW ROADS',
 'NL RTNG GROUNDS',
 'NL RTOIN (SWIN PIL)',
 'NL RTNGBORG',
 'NL RTNED',
 'RU ULU',
 'RU ULVG ON BALTIC',
 'RU ULVG',
 'RU ULTAGEN',
 'RU ULT',
 'RU PRJUGT',
 'RU PRIINDE',
 'RU PRJG',
 'RU ULVGBORG',
 'RU ULT- DKSKA',
 'RU ULW',
 'RU ULTDAB.EU',
 'RU ULTPOSITION',
 'RU ULT-> NOOSL',
 'RU PRJG  GROUNDS',
 'RU PRJG GROUND',
 'RU ULTSANDE',
 'RU PRIBORG',
 'RU PRHA FINLAND',
 'RU PRKE',
 'RU PRIR',
 'RU PRJGOR',
 'RU PRK',
 'RU PRHROL',
 'RU PRING',
 'RU PRI WIND PARK',
 'RU PRHSERVICE',
 'RU PRJIELD',
 'RU PRIRDEN-ROEDBY',
 'RU PRI==',
 'RU PRHAGEN',
 'RU PRJING',
 'RU PRHUTY OFF SKAW',
 'RU PRKVESSEL',
 'RU PRIHAVN',
 'RU PRHOLM',
 'RU PRJORE INFO',
 'RU PRJDER',
 'RU PRKIMI\\RODO',
 'RU PRI           #?R',
 'RU PRI            0',
 'EEMSHAVEN',
 'UST LV',
 'UST LT',
 'UST LUBORG',
 'UST LVG',
 'UST LUAL',
 'UST LVORG',
 'UST LUJL',
 'UST LWEST',
 'UST LU',
 'UST LVOR INFO',
 'UST LVG GROUNDS',
 'UST LVICIA',
 'UST LVESEARCH',
 'UST LVG VIA NOK',
 'UST LVGOR.HELSINGBOR',
 'UST LVG, DENMARK',
 'UST LTSTATION SJ.REV',
 'UST LU FIN',
 'UST LTOLM',
 'UST LUHR3',
 'UST LURTIN',
 'UST LVG-FANOE',
 'VYSOTSK',
 'KAOHSIUNG TW',
 'DOUALA',
 'SINGAPORE PGBG',
 'PORT DICKSON',
 'CN FOC',
 'CN FUZHOU',
 'RU LED',
 'RU LEFGBORG',
 'EE SLM',
 'SE STE',
 'SE STEEL-KLP',
 'SE STFG',
 'SE STDOINT SEHESTEDT',
 'SE STD',
 'SE STFHAVEN',
 'SE STG SEA',
 'SE STDBORG',
 'SE STFA',
 'SE STD00',
 'SE STGLEAR 0.3NM AFT',
 'SE STFG HOR1',
 'SE STDIO',
 'SE STDO-HGB',
 'SE STG',
 ...]

In [186]:
ports = pd.read_csv('https://msi.nga.mil/api/publications/download?type=view&key=16920959/SFH00000/UpdatedPub150.csv')
ports = ports.loc[:, ["Main Port Name", "Country Code"]]
ports["Main Port Name"] = ports["Main Port Name"].str.upper()
ports = ports.rename({"Main Port Name" : "destination"}, axis=1)

In [109]:
ports.head()

        destination      Country Code
0  ST. JAMES HARBOR     United States
1   MELCHIOR HARBOR        Antarctica
2          DONGGALA         Indonesia
3     PSVM TERMINAL            Angola
4            KOKOPO  Papua New Guinea

In [111]:
ais_enriched3.shape

(3333279, 129)

In [187]:
ais_enriched4 = ais_enriched3.loc[~ais_enriched3["destination2"].isna(),:]

In [188]:
ais_enriched4.shape

(3076316, 129)

In [189]:
test = ais_enriched4.groupby("mmsi")["destination2"].first() # imparfait car on n'a pas toutes les destinations d'un bateau

In [190]:
test.head()

mmsi
207008000       POTI
207037000      VARNA
207038000    OPENSEA
207133000      VARNA
207228000      VARNA
Name: destination2, dtype: object

In [192]:
test = test.reset_index().copy().iloc[0:100,:]

In [193]:
test.head()

   index       mmsi destination2
0      0  207008000         POTI
1      1  207037000        VARNA
2      2  207038000      OPENSEA
3      3  207133000        VARNA
4      4  207228000        VARNA

In [194]:
cart_prod = test.merge(ports, how='cross')

In [195]:
ports.head()

        destination      Country Code
0  ST. JAMES HARBOR     United States
1   MELCHIOR HARBOR        Antarctica
2          DONGGALA         Indonesia
3     PSVM TERMINAL            Angola
4            KOKOPO  Papua New Guinea

In [196]:
cart_prod.shape

(288000, 5)

In [197]:
cart_prod[["destination2", "destination"]].head()

  destination2       destination
0         POTI  ST. JAMES HARBOR
1         POTI   MELCHIOR HARBOR
2         POTI          DONGGALA
3         POTI     PSVM TERMINAL
4         POTI            KOKOPO

In [198]:

def check_distance_levenshtein(data: pd.DataFrame, variables=None) -> pd.DataFrame:
    """
    Compute levenshtein distance between list of columns of a Pandas DataFrame
    Parameters
    ----------
    data: Pandas dataframe with some columns to be compared
    variables: List of variables from which distance will be computed. The first one will be used as benchmark
    Returns
    -------
    Initial dataframe with new columns representing levenshtein ratio (computed using :meth:`rapidfuzz.fuzz.partial_ratio`)
    between variables
    """

    if variables is None:
        variables = ['libel_clean_relevanc', 'libel_clean_OFF', 'libel_clean_IRI']

    data[variables] = data[variables].astype(str)
    newvars = ["ratio{}".format(str(i)) for i in range(1, len(variables))]
    data[newvars] = pd.concat(
        [data.apply(lambda x: rapidfuzz.fuzz.partial_ratio(x[variables[0]], x[y]), axis=1) for y in variables[1:]],
        axis=1
    )
    return data

In [200]:
test2 = check_distance_levenshtein(cart_prod, ["destination2", "destination"])

In [202]:
test2.head(2000)

,index,mmsi,destination2,destination,Country Code,ratio1
0,0,207008000,POTI,ST. JAMES HARBOR,United States,33.333333
1,0,207008000,POTI,MELCHIOR HARBOR,Antarctica,33.333333
2,0,207008000,POTI,DONGGALA,Indonesia,33.333333
3,0,207008000,POTI,PSVM TERMINAL,Angola,40.000000
4,0,207008000,POTI,KOKOPO,Papua New Guinea,66.666667
...,...,...,...,...,...,...
1995,0,207008000,POTI,SEKUPANG,Indonesia,25.000000
1996,0,207008000,POTI,TYNEMOUTH,United Kingdom,50.000000
1997,0,207008000,POTI,ASHLAND,United States,0.000000
1998,0,207008000,POTI,CALAIS,France,33.333333
1999,0,207008000,POTI,UBE KO,Japan,40.000000

In [204]:
idx = test2.groupby(['destination2'])['ratio1'].transform(max) == test2['ratio1']

In [205]:
test4 = test2[idx]

In [206]:
test4.head(100)

        index       mmsi destination2  destination    Country Code      ratio1
1447        0  207008000         POTI         POTI         Georgia  100.000000
5150        1  207037000        VARNA        VARNA        Bulgaria  100.000000
7037        2  207038000      OPENSEA       ODENSE         Denmark   83.333333
10910       3  207133000        VARNA        VARNA        Bulgaria  100.000000
13790       4  207228000        VARNA        VARNA        Bulgaria  100.000000
...       ...        ...          ...          ...             ...         ...
127512     44  215135000           BE        AMBES          France  100.000000
127543     44  215135000           BE   PORTO BELO      Mozambique  100.000000
127601     44  215135000           BE       LUBECK         Germany  100.000000
127618     44  215135000           BE  CAMPBELTOWN  United Kingdom  100.000000
127700     44  215135000           BE  NEW BEDFORD   United States  100.000000

[100 rows x 6 columns]