In [9]:
import s3fs
import pandas as pd

path = "IHS/ship_data.csv"
bucket = "projet-hackathon-un-2022"

fs = s3fs.S3FileSystem(
  client_kwargs={'endpoint_url': 'https://minio.lab.sspcloud.fr'}
)

ship_data = pd.read_csv(fs.open(f'{bucket}/{path}',
                         mode='rb'))
ship_codes = pd.read_csv(fs.open(f'{bucket}/{path}'.replace("data","codes"),
                         mode='rb')
                 )

In [10]:
ship_codes.head(2)

,StatCode5,ShipTypeLevel1,ShipTypeLevel2,ShipTypeLevel3,ShipTypeLevel4,ShipTypeLevel5,SubGroup,SubType
0,A11A2TN,Cargo Carrying,Tankers,Liquefied Gas,LNG Tanker,LNG Tanker,Petroleum Products,LNG Tanker
1,A11A2TQ,Cargo Carrying,Tankers,Liquefied Gas,LNG Tanker,CNG Tanker,Petroleum Products,CNG Tanker

In [11]:
ship_data.head(2)

,StatCode5,MaritimeMobileServiceIdentityMMSINumber,ShipStatusEffectiveDate,ShiptypeLevel5,LRIMOShipNo,FuelConsumptionTotal,GrossTonnage,NetTonnage
0,X11A2YP,NaN,19610000,Yacht,1000019,0.0,551,165
1,X11A2YP,NaN,19951000,Yacht,1000021,0.0,1980,588

In [22]:
ship_data_enriched = ship_data.merge(ship_codes, on = "StatCode5").value_counts('ShipTypeLevel1', normalize = True)

In [26]:
ship_data_enriched

ShipTypeLevel1
Cargo Carrying                 0.508045
Work Vessel                    0.419286
Non Merchant                   0.037187
Non Seagoing Merchant Ships    0.014563
Non Propelled                  0.012390
Non Ship Structure             0.008528
dtype: float64