In [1]:
import os
os.getcwd()
os.chdir("..")
import utils.functions as fc
import utils.fao as fao

In [2]:
from importlib import reload
fao = reload(fao)
fc = reload(fc)

In [ ]:
fao = fao.import_fao_matrix()

/home/onyxia/work/hackathon-un-2022/utils/fao.py:12: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  fao = pd.read_csv(file_in, error_bad_lines=False, encoding='iso-8859-1')

In [2]:
path2data = bucket + "Trade_DetailedTradeMatrix_E_All_Data_(Normalized).csv"
with conn.open(path2data, mode="rb") as file_in:
        fao = pd.read_csv(file_in, error_bad_lines=False, encoding='iso-8859-1')

/tmp/ipykernel_180/1131199692.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  fao = pd.read_csv(file_in, error_bad_lines=False, encoding='iso-8859-1')

In [3]:
fao.head()

,Reporter Country Code,Reporter Country Code (M49),Reporter Countries,Partner Country Code,Partner Country Code (M49),Partner Countries,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,4,'012,Algeria,230,'21424,"Cashew nuts, shelled",5910,Export Quantity,2016,2016,tonnes,3.0,X
1,2,'004,Afghanistan,4,'012,Algeria,230,'21424,"Cashew nuts, shelled",5922,Export Value,2016,2016,1000 US$,23.0,T
2,3,'008,Albania,3,'008,Albania,828,'25020.01,Cigarettes,5610,Import Quantity,2004,2004,tonnes,12.0,A
3,3,'008,Albania,3,'008,Albania,828,'25020.01,Cigarettes,5622,Import Value,2004,2004,1000 US$,104.0,A
4,2,'004,Afghanistan,4,'012,Algeria,1293,'F1293,Crude organic material n.e.c.,5922,Export Value,2015,2015,1000 US$,1.0,T

In [15]:
fao.shape # 41 591 386

(41591386, 16)

In [16]:
fao2 = fao.loc[fao["Year"].isin([2019, 2020]),:]

In [17]:
fao2.shape # 4 031 781

(4031781, 16)

In [18]:
fao2 = fao2.drop(["Year Code", "Reporter Country Code (M49)", "Partner Country Code (M49)", "Item Code (CPC)"], axis=1)

In [19]:
fao2.shape # 12 colonnes

(4031781, 12)

In [21]:
fao2["Item"].value_counts()

Food preparations n.e.c.                          76630
Pastry                                            52132
Chocolate products nes                            49082
Other non-alcoholic caloric beverages             47310
Fruit prepared n.e.c.                             46880
                                                  ...
Coarse goat hair                                     12
Cassava, fresh                                       10
Bran of millet                                        8
Edible offal of goat, fresh, chilled or frozen        2
Vetches                                               2
Name: Item, Length: 396, dtype: int64

In [22]:
# on va selectionner les céréales 
fao2["Item"].nunique() # 396 valeurs de produits

396

In [30]:
# selection des céréales
fao3 = fao2.loc[fao2["Item Code"].isin([103, 104, 111, 113, 115,  126, 15, 150, 16, 17, 18, 20, 21, 212, 27, 29, 30, 31, 32, 38, 41, 44, 46, 49, 56, 57, 
                                       58, 59, 60, 61, 79, 81, 83, 85, 89, 91, 92, 94, 95, 96]), :]

In [27]:
fao3.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag
87,8,Antigua and Barbuda,7,Angola,41,Breakfast cereals,5610,Import Quantity,2019,tonnes,1.0,A
94,8,Antigua and Barbuda,7,Angola,41,Breakfast cereals,5622,Import Value,2019,1000 US$,1.0,A
345,57,Belarus,2,Afghanistan,20,Bread,5910,Export Quantity,2020,tonnes,0.0,A
354,57,Belarus,2,Afghanistan,20,Bread,5922,Export Value,2020,1000 US$,0.0,A
1509,29,Burundi,9,Argentina,56,Maize (corn),5610,Import Quantity,2020,tonnes,0.0,A

In [31]:
fao3.shape # 370590

(370590, 12)

In [32]:
fao3["Item"].value_counts()

Breakfast cereals                                    36718
Food preparations of flour, meal or malt extract     30046
Uncooked pasta, not stuffed or otherwise prepared    28460
Rice, paddy (rice milled equivalent)                 25582
Bread                                                22900
Rice, milled                                         21760
Wheat and meslin flour                               21524
Maize (corn)                                         18790
Flour of maize                                       14660
Flour of cereals n.e.c.                              14290
Cereal preparations                                  14190
Wheat                                                13120
Malt, whether or not roasted                         11020
Barley                                                8518
Quinoa                                                7978
Rice, broken                                          7928
Flour of pulses                                       7684
Millet                                                7382
Oil of maize                                          7224
Flour of roots and tubers n.e.c.                      6296
Bran of wheat                                         6028
Rice                                                  5838
Buckwheat                                             5096
Sorghum                                               4818
Flour of rice                                         4794
Bran of maize                                         3482
Flour of mixed grain                                  3068
Germ of maize                                         2904
Barley, pearled                                       2524
Flour of cassava                                      2480
Rice, milled (husked)                                 1546
Mixed grain                                            894
Fonio                                                  518
Bulgur                                                 406
Cake of maize                                           82
Bran of sorghum                                         34
Bran of millet                                           8
Name: Item, dtype: int64

In [35]:
fao3.loc[fao3["Item"].isin(["Bulgur"]), :].head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag
165084,238,Ethiopia,10,Australia,21,Bulgur,5910,Export Quantity,2019,tonnes,1.0,X
165173,238,Ethiopia,10,Australia,21,Bulgur,5922,Export Value,2019,1000 US$,1.0,T
263197,81,Ghana,10,Australia,21,Bulgur,5910,Export Quantity,2020,tonnes,0.0,X
263285,81,Ghana,10,Australia,21,Bulgur,5922,Export Value,2020,1000 US$,2.0,T
307798,57,Belarus,1,Armenia,21,Bulgur,5910,Export Quantity,2019,tonnes,1.0,A

In [40]:
fao4 = fao3.loc[fao3["Reporter Countries"].isin(["Ukraine"]) | fao3["Partner Countries"].isin(["Ukraine"]), :]

In [41]:
fao4.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag
33827,230,Ukraine,2,Afghanistan,115,"Food preparations of flour, meal or malt extract",5910,Export Quantity,2020,tonnes,259.0,A
35183,230,Ukraine,2,Afghanistan,115,"Food preparations of flour, meal or malt extract",5922,Export Value,2020,1000 US$,230.0,A
50303,230,Ukraine,2,Afghanistan,60,Oil of maize,5910,Export Quantity,2020,tonnes,21.0,A
50663,230,Ukraine,2,Afghanistan,60,Oil of maize,5922,Export Value,2020,1000 US$,22.0,A
199064,230,Ukraine,3,Albania,15,Wheat,5910,Export Quantity,2020,tonnes,22956.0,A

In [42]:
fao4 = fao4.loc[fao4["Element"].isin(["Export Quantity", "Import Quantity"]),:]

In [43]:
fao4.head()

,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Item Code,Item,Element Code,Element,Year,Unit,Value,Flag
33827,230,Ukraine,2,Afghanistan,115,"Food preparations of flour, meal or malt extract",5910,Export Quantity,2020,tonnes,259.0,A
50303,230,Ukraine,2,Afghanistan,60,Oil of maize,5910,Export Quantity,2020,tonnes,21.0,A
199064,230,Ukraine,3,Albania,15,Wheat,5910,Export Quantity,2020,tonnes,22956.0,A
207981,230,Ukraine,4,Algeria,44,Barley,5910,Export Quantity,2020,tonnes,126287.0,A
219142,230,Ukraine,4,Algeria,113,Cereal preparations,5910,Export Quantity,2020,tonnes,21.0,A

In [44]:
fao4["Partner Countries"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Ukraine',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Brazil', 'Bulgaria', 'Burkina Faso', 'Cambodia', 'Cameroon',
       'Canada', 'Chad', 'Chile', 'China, Hong Kong SAR',
       'China, mainland', 'China, Taiwan Province of', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cyprus',
       'Czechia', 'Democratic Republic of the Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Liberia',
       'Libya', 'Lithuania', 'Madagascar', 'Malawi', 'Malaysia', 'Mali',
       'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Türkiye', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Venezuela (Bolivarian Republic of)',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)