In [1]:
# food prices in ukraine
import pandas as pd
import s3fs
import os
s3_url = "https://" + os.environ["AWS_S3_ENDPOINT"]
conn = s3fs.S3FileSystem(client_kwargs={'endpoint_url': s3_url})
bucket = "projet-hackathon-un-2022/drive/LLoyd_s Registery World Risk Poll 2021.csv"

In [6]:
path2data = bucket 
with conn.open(path2data, mode="rb") as file_in:
    lloyd = pd.read_csv(file_in, error_bad_lines=False, sep=",")

/tmp/ipykernel_662/225246932.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  lloyd = pd.read_csv(file_in, error_bad_lines=False, sep=",")
/tmp/ipykernel_662/225246932.py:3: DtypeWarning: Columns (7,8,9,10,16,17,20,21,22,28,31,32,33,34,35,36,37,38,41,43,46,47,48,49,50,51,52,53,54,56,57,58,59,60,66,67,68,69,70,71,72,73,74,75,76,77,78,201,203,204,205,206,207) have mixed types. Specify dtype option on import or set low_memory=False.
  lloyd = pd.read_csv(file_in, error_bad_lines=False, sep=",")

In [7]:
lloyd.head()

,WPID_RANDOM,WP5,Country,WGT,Year,GlobalRegion,country.in.both.waves,CountryIncomeLevel2021,CountryIncomeLevel2019,PROJWT_2021,...,REGION_ZAF,REGION2_ZMB,REGION_ZWE,Q2_1_2019A,Q2_1_2019B,Q5A_2019,Q5B_2019,Q5C_2019,Q5D_2019,Q5F_2019
0,174262180,1,United States,2.132627,2021,6,1,4,,562058.627707,...,,,,,,,,,,
1,115327451,1,United States,0.620385,2021,6,1,4,,163503.920074,...,,,,,,,,,,
2,189972125,1,United States,0.610080,2021,6,1,4,,160787.958907,...,,,,,,,,,,
3,173358289,1,United States,0.490774,2021,6,1,4,,129344.45613,...,,,,,,,,,,
4,183251831,1,United States,1.910021,2021,6,1,4,,503390.26593,...,,,,,,,,,,

In [8]:
lloyd = lloyd.loc[lloyd["Year"] == 2021, :]

In [9]:
lloyd.shape

(125911, 208)

In [10]:
lloyd.columns

Index(['WPID_RANDOM', 'WP5', 'Country', 'WGT', 'Year', 'GlobalRegion',
       'country.in.both.waves', 'CountryIncomeLevel2021',
       'CountryIncomeLevel2019', 'PROJWT_2021',
       ...
       'REGION_ZAF', 'REGION2_ZMB', 'REGION_ZWE', 'Q2_1_2019A', 'Q2_1_2019B',
       'Q5A_2019', 'Q5B_2019', 'Q5C_2019', 'Q5D_2019', 'Q5F_2019'],
      dtype='object', length=208)

In [24]:
lloyd2 = lloyd.loc[:, ["Country", "resilience_index"]]

In [25]:
lloyd2.head() # a priori plusieurs points par année

         Country  resilience_index
0  United States  .604166666666667
1  United States             .8125
2  United States  .645833333333333
3  United States  .604166666666667
4  United States  .895833333333333

In [30]:
import numpy as np
lloyd2["resilience_index"] = lloyd2["resilience_index"].replace('', np.NaN)

In [32]:
lloyd2["resilience_index2"] = pd.to_numeric(lloyd2["resilience_index"], errors='coerce')

In [33]:
lloyd3 = lloyd2.groupby("Country").mean()

/tmp/ipykernel_662/480493357.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  lloyd3 = lloyd2.groupby("Country").mean()

In [34]:
lloyd3.head()

             resilience_index2
Country
Afghanistan           0.343204
Albania               0.456548
Algeria               0.621322
Argentina             0.529114
Armenia               0.568233