In [3]:
!pip install geopandas==0.12.1;
!pip install rtree;
!pip install pyarrow==10.0.0 s3fs folium

Collecting geopandas==0.12.1
  Downloading geopandas-0.12.1-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 14.8 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: shapely>=1.7 in /opt/mamba/lib/python3.10/site-packages (from geopandas==0.12.1) (1.8.5)
Requirement already satisfied: packaging in /opt/mamba/lib/python3.10/site-packages (from geopandas==0.12.1) (21.3)
Requirement already satisfied: pyproj>=2.6.1.post1 in /opt/mamba/lib/python3.10/site-packages (from geopandas==0.12.1) (3.4.0)
Requirement already satisfied: fiona>=1.8 in /opt/mamba/lib/python3.10/site-packages (from geopandas==0.12.1) (1.8.22)
Requirement already satisfied: pandas>=1.0.0 in /opt/mamba/lib/python3.10/site-packages (from geopandas==0.12.1) (1.5.1)
Requirement already satisfied: six>=1.7 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (1.16.0)
Requirement already satisfied: setuptools in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (65.5.0)
Requirement already satisfied: munch in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (2.5.0)
Requirement already satisfied: certifi in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (2022.9.24)
Requirement already satisfied: click-plugins>=1.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (1.1.1)
Requirement already satisfied: attrs>=17 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (22.1.0)
Requirement already satisfied: click>=4.0 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (8.1.3)
Requirement already satisfied: cligj>=0.5 in /opt/mamba/lib/python3.10/site-packages (from fiona>=1.8->geopandas==0.12.1) (0.7.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.0.0->geopandas==0.12.1) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.0.0->geopandas==0.12.1) (2022.5)
Requirement already satisfied: numpy>=1.21.0 in /opt/mamba/lib/python3.10/site-packages (from pandas>=1.0.0->geopandas==0.12.1) (1.23.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/mamba/lib/python3.10/site-packages (from packaging->geopandas==0.12.1) (3.0.9)
Installing collected packages: geopandas
  Attempting uninstall: geopandas
    Found existing installation: geopandas 0.12.0
    Uninstalling geopandas-0.12.0:
      Successfully uninstalled geopandas-0.12.0
Successfully installed geopandas-0.12.1
Requirement already satisfied: rtree in /opt/mamba/lib/python3.10/site-packages (1.0.1)
Collecting pyarrow==10.0.0
  Downloading pyarrow-10.0.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (35.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.2/35.2 MB 14.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: s3fs in /opt/mamba/lib/python3.10/site-packages (0.4.2)
Requirement already satisfied: folium in /opt/mamba/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: numpy>=1.16.6 in /opt/mamba/lib/python3.10/site-packages (from pyarrow==10.0.0) (1.23.4)
Requirement already satisfied: botocore>=1.12.91 in /opt/mamba/lib/python3.10/site-packages (from s3fs) (1.28.2)
Requirement already satisfied: fsspec>=0.6.0 in /opt/mamba/lib/python3.10/site-packages (from s3fs) (2022.10.0)
Requirement already satisfied: requests in /opt/mamba/lib/python3.10/site-packages (from folium) (2.28.1)
Requirement already satisfied: branca>=0.3.0 in /opt/mamba/lib/python3.10/site-packages (from folium) (0.5.0)
Requirement already satisfied: jinja2>=2.9 in /opt/mamba/lib/python3.10/site-packages (from folium) (3.1.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/mamba/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/mamba/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/mamba/lib/python3.10/site-packages (from botocore>=1.12.91->s3fs) (1.26.11)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/mamba/lib/python3.10/site-packages (from jinja2>=2.9->folium) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/mamba/lib/python3.10/site-packages (from requests->folium) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/mamba/lib/python3.10/site-packages (from requests->folium) (2022.9.24)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/mamba/lib/python3.10/site-packages (from requests->folium) (2.1.1)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.16.0)
Installing collected packages: pyarrow
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 9.0.0
    Uninstalling pyarrow-9.0.0:
      Successfully uninstalled pyarrow-9.0.0
Successfully installed pyarrow-10.0.0

In [7]:
!pip install pywaffle

Collecting pywaffle
  Downloading pywaffle-1.1.0-py2.py3-none-any.whl (30 kB)
Requirement already satisfied: matplotlib in /opt/mamba/lib/python3.10/site-packages (from pywaffle) (3.6.1)
Collecting fontawesomefree
  Downloading fontawesomefree-6.2.0-py3-none-any.whl (25.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 25.1/25.1 MB 16.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.19 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (1.23.4)
Requirement already satisfied: packaging>=20.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (4.38.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (9.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib->pywaffle) (1.0.5)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->pywaffle) (1.16.0)
Installing collected packages: fontawesomefree, pywaffle
Successfully installed fontawesomefree-6.2.0 pywaffle-1.1.0

In [8]:
import os
os.getcwd()

'/home/onyxia/work/hackathon-un-2022'

In [9]:
os.chdir("..")
import utils.functions as fc

In [10]:
from importlib import reload
fc = reload(fc)

In [11]:
ship_data_enriched = fc.create_ship_data_enriched()

In [12]:
path_parquet = "AIS/ais_azov_black_20220401_20220408_full_traces.parquet"

ais_df = fc.read_ais_parquet(path_parquet=path_parquet)

In [13]:
ais_df.shape

(4406590, 6)

In [14]:
import pandas as pd

pd.options.display.max_columns = 30
ais_df.head()

        mmsi   latitude  longitude  eeid       dt_insert_utc destination
0  249637000  44.305513  30.317422   NaN 2019-03-25 08:34:45      BILBAO
1  511942000  44.208553  30.109788   NaN 2019-03-25 04:05:53     KHERSON
2  511942000  44.327867  30.157003   NaN 2019-03-25 05:02:12     KHERSON
3  511942000  44.324473  30.155405   NaN 2019-03-25 05:00:33     KHERSON
4  235105944  40.978187  29.039550   NaN 2019-03-25 03:41:31        None

In [156]:
ais_df.columns

Index(['mmsi', 'latitude', 'longitude', 'eeid', 'dt_insert_utc',
       'destination'],
      dtype='object')

In [16]:
import pandas as pd
import rtree
import geopandas as gpd
from shapely.geometry import Point, mapping, Polygon
import re
import folium
import numpy as np
from datetime import datetime
from pyarrow import fs
import pyarrow as pa
import pyarrow.parquet as pq

## Processing port data

In [158]:
df = pd.read_csv('https://msi.nga.mil/api/publications/download?type=view&key=16920959/SFH00000/UpdatedPub150.csv')

df = df[['World Port Index Number', 'Region Name', 'Main Port Name', 'World Water Body', 'Country Code', 'Latitude', 'Longitude']].rename(
    columns={
        'World Port Index Number': 'id',
        'Region Name': 'region_name',
        'Main Port Name': 'port_name',
        'World Water Body': 'water_body',
        'Country Code': 'country',
        'Latitude': 'lat',
        'Longitude':'long'
    }
)

In [159]:
df['coordinates'] = [Point(xy) for xy in zip(df.long, df.lat)]

/opt/mamba/lib/python3.10/site-packages/pandas/core/dtypes/cast.py:127: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)

In [160]:
# Note cap_style: round = 1, flat = 2, square = 3
df['port_coverage'] = gpd.GeoSeries(df['coordinates']).buffer(0.04, cap_style = 3)

Creating buffer.

In [161]:
df['port_buffer'] = gpd.GeoSeries(df['coordinates']).buffer(0.08, cap_style = 3)

In [162]:
df1 = gpd.GeoDataFrame({'geometry': df['port_coverage'], 'df1': df['id']})
df2 = gpd.GeoDataFrame({'geometry': df['port_buffer'], 'df2': df['id']})
res_difference = df2.overlay(df1, how='difference')
df['port_buffer'] = res_difference['geometry']

Filtering ports from the Azov and Black seas: now we're not doing this anymore

In [166]:
# df_black_azov = df[df['water_body'].str.contains('Black', case=False)]
df_black_azov = df

In [167]:
df_black_azov.shape

(2880, 10)

There are 49 ports listed for the Azov and the Black seas. This list might not complete though ? See for example Marioupol in the Azov sea which does have a port ?

In [168]:
df_black_azov.port_buffer.iloc[0]

In [169]:
df_black_azov.port_coverage.iloc[0]

Plotting port coverages and buffers

In [182]:
m = folium.Map(location=[43.433333, 39.933333])

for i in range(0, len(df_black_azov)):
    # Plot port coordinates
    folium.Marker([df_black_azov.iloc[i]['lat'], df_black_azov.iloc[i]['long']],
                  popup=df_black_azov.iloc[i]['port_name']).add_to(m)

    # Plot port coverage
    coverage = gpd.GeoSeries(df_black_azov.iloc[i]['port_coverage']).simplify(tolerance=0.001)
    geo_j = coverage.to_json()
    geo_j = folium.GeoJson(data=geo_j,
                           style_function=lambda x: {'fillColor': 'orange'})
    geo_j.add_to(m)
    
    # Plot port buffer
    buffer = gpd.GeoSeries(df_black_azov.iloc[i]['port_buffer']).simplify(tolerance=0.001)
    buffer_geo_j = buffer.to_json()
    buffer_geo_j = folium.GeoJson(data=buffer_geo_j,
                                  style_function=lambda x: {'fillColor': 'purple'})
    buffer_geo_j.add_to(m)

In [175]:
m

Cleaning ports

In [176]:
df_black_azov

,id,region_name,port_name,water_body,country,lat,long,coordinates,port_coverage,port_buffer
0,4580,US Lake Michigan -- 4570,St. James Harbor,Lake Michigan; Great Lakes,United States,45.733333,-85.516667,POINT (-85.516667 45.733333),"POLYGON ((-85.47667 45.77333, -85.47667 45.693...","POLYGON ((-85.43667 45.65333, -85.59667 45.653..."
1,63110,Antarctica -- 63060,Melchior Harbor,South Pacific Ocean,Antarctica,-64.316667,-63.000000,POINT (-63 -64.316667),"POLYGON ((-62.96000 -64.27667, -62.96000 -64.3...","POLYGON ((-63.08000 -64.39667, -63.08000 -64.2..."
2,52350,Sulawesi -- 51970,Donggala,Makassar Strait; South Pacific Ocean,Indonesia,-0.650000,119.733333,POINT (119.733333 -0.65),"POLYGON ((119.77333 -0.61000, 119.77333 -0.690...","POLYGON ((119.81333 -0.73000, 119.65333 -0.730..."
3,46544,Angola -- 46540,Psvm Terminal,South Atlantic Ocean,Angola,-6.250000,10.733333,POINT (10.733333 -6.25),"POLYGON ((10.77333 -6.21000, 10.77333 -6.29000...","POLYGON ((10.81333 -6.33000, 10.65333 -6.33000..."
4,56820,Bismarck Archipelago -- 56700,Kokopo,Bismarck Sea; South Pacific Ocean,Papua New Guinea,-4.333333,152.266667,POINT (152.266667 -4.333333),"POLYGON ((152.30667 -4.29333, 152.30667 -4.373...","POLYGON ((152.34667 -4.41333, 152.18667 -4.413..."
...,...,...,...,...,...,...,...,...,...,...
2875,62070,Japan -- 61100,Imabari Ko,Sea of Japan; North Pacific Ocean,Japan,34.066667,133.016667,POINT (133.016667 34.066667),"POLYGON ((133.05667 34.10667, 133.05667 34.026...","POLYGON ((133.09667 33.98667, 132.93667 33.986..."
2876,8490,United States E Coast -- 6585,Georgetown,North Atlantic Ocean,United States,33.366667,-79.283333,POINT (-79.283333 33.366667),"POLYGON ((-79.24333 33.40667, -79.24333 33.326...","POLYGON ((-79.20333 33.28667, -79.36333 33.286..."
2877,14100,Chile -- 14070,Rada Punta Arenas,South Pacific Ocean,Chile,-53.166667,-70.900000,POINT (-70.9 -53.166667),"POLYGON ((-70.86000 -53.12667, -70.86000 -53.2...","POLYGON ((-70.82000 -53.24667, -70.98000 -53.2..."
2878,38220,Spain SW Coast -- 38200,Huelva,North Atlantic Ocean,Spain,37.250000,-6.950000,POINT (-6.95 37.25),"POLYGON ((-6.91000 37.29000, -6.91000 37.21000...","POLYGON ((-6.87000 37.17000, -7.03000 37.17000..."
2879,23160,Norway -- 20620,Bergen,North Sea; North Atlantic Ocean,Norway,60.400000,5.316667,POINT (5.316667 60.4),"POLYGON ((5.35667 60.44000, 5.35667 60.36000, ...","POLYGON ((5.39667 60.32000, 5.23667 60.32000, ..."

## Preparing data for the `get_ais` function

In [177]:
df_black_azov.shape

(2880, 10)

In [178]:
df_black_azov[~df_black_azov.id.duplicated()].shape

(2880, 10)

In [179]:
df_black_azov[['id', 'port_coverage']].shape

(2880, 2)

In [180]:
from geopandas import gpd 

ports = gpd.GeoDataFrame(df_black_azov[['id', 'port_coverage']]).rename(
    columns={'port_coverage': 'polygon'}
)
ports['buffer'] = 0
port_buffers = gpd.GeoDataFrame(df_black_azov[['id', 'port_buffer']]).rename(
    columns={'port_buffer': 'polygon'}
)
port_buffers['buffer'] = 1
polys = gpd.GeoDataFrame(pd.concat([ports, port_buffers], ignore_index=True),
                         geometry='polygon')

In [181]:
polys[polys.id.duplicated()]

         id                                            polygon  buffer
2880   4580  POLYGON ((-85.43667 45.65333, -85.59667 45.653...       1
2881  63110  POLYGON ((-63.08000 -64.39667, -63.08000 -64.2...       1
2882  52350  POLYGON ((119.81333 -0.73000, 119.65333 -0.730...       1
2883  46544  POLYGON ((10.81333 -6.33000, 10.65333 -6.33000...       1
2884  56820  POLYGON ((152.34667 -4.41333, 152.18667 -4.413...       1
...     ...                                                ...     ...
5755  62070  POLYGON ((133.09667 33.98667, 132.93667 33.986...       1
5756   8490  POLYGON ((-79.20333 33.28667, -79.36333 33.286...       1
5757  14100  POLYGON ((-70.82000 -53.24667, -70.98000 -53.2...       1
5758  38220  POLYGON ((-6.87000 37.17000, -7.03000 37.17000...       1
5759  23160  POLYGON ((5.39667 60.32000, 5.23667 60.32000, ...       1

[2880 rows x 3 columns]

In [41]:
def filter_ports(df):
    """
    In original df there must be a latitude and longitude
    
    Returns df.
    """
    df['coordinates'] = [Point(xy) for xy in zip(df.longitude, df.latitude)] 
    points = gpd.GeoDataFrame(df, geometry='coordinates')
    points_in_polys = gpd.sjoin(points, polys, op='within')
    return points_in_polys

In [64]:
filtered_df = filter_ports(ais_df)

/opt/mamba/lib/python3.10/site-packages/pandas/core/dtypes/cast.py:127: ShapelyDeprecationWarning: The array interface is deprecated and will no longer work in Shapely 2.0. Convert the '.coords' to a numpy array instead.
  arr = construct_1d_object_array_from_listlike(values)
/opt/mamba/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3378: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [65]:
filtered_df.shape

(985717, 30)

In [66]:
filtered_df['polygon'] = [str(a) + '_' + str(b) for a, b in zip(filtered_df['id'], filtered_df['buffer'])]

In [68]:
filtered_df.head()

,width,dt_static_utc,vessel_type_cargo,length,nav_status,dt_pos_utc,heading,cog,rot,dt_insert_utc,vessel_type_main,sog,draught,latitude,polygon_name,...,vessel_name,vessel_type_sub,H3_int_index_9,hex_resolution,longitude,mmsi,flag_country,destination,vessel_class,imo,coordinates,index_right,id,buffer,polygon
0,47.0,2019-04-01 09:34:20,None,71.0,Not Defined,2019-04-01 10:00:59,0.0,0.0,0.0,2019-04-01 10:00:59,Offshore Vessel,0.0,0.0,45.561487,Chornomors Ke Buffer,...,MODU SIVASH,None,617787929049432063,9,32.774457,273374830,Russian Federation,None,A,8763385.0,POINT (32.77446 45.56149),97,43745,1,43745_1
7872,21.0,2019-04-01 22:57:23,None,51.0,Under Way Using Engine,2019-04-01 23:30:30,0.0,64.2,0.0,2019-04-01 23:30:30,Service Ship,1.2,2.5,45.566382,Chornomors Ke Buffer,...,NEPTUN-3,Crane Ship,617527075095183359,9,32.663027,273371570,Russian Federation,BLACK SEA,A,8860511.0,POINT (32.66303 45.56638),97,43745,1,43745_1
7873,21.0,2019-04-01 22:57:23,None,51.0,Under Way Using Engine,2019-04-01 22:59:04,0.0,99.8,0.0,2019-04-01 22:59:04,Service Ship,1.9,2.5,45.564717,Chornomors Ke Buffer,...,NEPTUN-3,Crane Ship,617527075096231935,9,32.644928,273371570,Russian Federation,BLACK SEA,A,8860511.0,POINT (32.64493 45.56472),97,43745,1,43745_1
7875,21.0,2019-04-01 21:51:21,None,51.0,Under Way Using Engine,2019-04-01 22:08:30,0.0,91.4,0.0,2019-04-01 22:08:30,Service Ship,1.4,2.5,45.561020,Chornomors Ke Buffer,...,NEPTUN-3,Crane Ship,617527077484625919,9,32.620610,273371570,Russian Federation,BLACK SEA,A,8860511.0,POINT (32.62061 45.56102),97,43745,1,43745_1
18469,21.0,2019-04-01 22:57:23,None,51.0,Under Way Using Engine,2019-04-01 23:09:30,0.0,94.7,0.0,2019-04-01 23:09:30,Service Ship,1.8,2.5,45.564647,Chornomors Ke,...,NEPTUN-3,Crane Ship,617527075095969791,9,32.651615,273371570,Russian Federation,BLACK SEA,A,8860511.0,POINT (32.65161 45.56465),97,43745,1,43745_1

## Assign route

In [69]:
filtered_df = filtered_df.sort_values(by=['mmsi', 'dt_pos_utc', 'dt_static_utc'])
filtered_df

,width,dt_static_utc,vessel_type_cargo,length,nav_status,dt_pos_utc,heading,cog,rot,dt_insert_utc,vessel_type_main,sog,draught,latitude,polygon_name,...,vessel_name,vessel_type_sub,H3_int_index_9,hex_resolution,longitude,mmsi,flag_country,destination,vessel_class,imo,coordinates,index_right,id,buffer,polygon
93225,0.0,2019-03-31 23:59:55,None,0.0,Engaged In Fishing,2019-04-01 00:00:19,0.0,47.3,0.0,2019-04-01 00:00:19,None,0.1,25.5,41.725078,Batumi Buffer,...,UNAVAILABLE,None,617769527947034623,9,41.728247,2060,None,None,A,NaN,POINT (41.72825 41.72508),81,44350,1,44350_1
27576,0.0,2019-03-31 23:59:55,None,0.0,Engaged In Fishing,2019-04-01 00:10:28,0.0,170.5,0.0,2019-04-01 00:10:28,None,0.1,25.5,41.725092,Batumi Buffer,...,UNAVAILABLE,None,617769527947034623,9,41.728248,2060,None,None,A,NaN,POINT (41.72825 41.72509),81,44350,1,44350_1
60136,0.0,2019-04-01 00:11:57,None,0.0,Engaged In Fishing,2019-04-01 00:20:29,0.0,173.5,0.0,2019-04-01 00:20:29,None,0.1,25.5,41.725072,Batumi Buffer,...,UNAVAILABLE,None,617769527947034623,9,41.728250,2060,None,None,A,NaN,POINT (41.72825 41.72507),81,44350,1,44350_1
72340,0.0,2019-04-01 00:23:58,None,0.0,Engaged In Fishing,2019-04-01 00:30:39,0.0,171.8,0.0,2019-04-01 00:30:39,None,0.1,25.5,41.725063,Batumi Buffer,...,UNAVAILABLE,None,617769527947034623,9,41.728225,2060,None,None,A,NaN,POINT (41.72823 41.72506),81,44350,1,44350_1
72338,0.0,2019-04-01 00:23:58,None,0.0,Engaged In Fishing,2019-04-01 00:40:39,0.0,171.8,0.0,2019-04-01 00:40:39,None,0.1,25.5,41.725037,Batumi Buffer,...,UNAVAILABLE,None,617769527947034623,9,41.728225,2060,None,None,A,NaN,POINT (41.72823 41.72504),81,44350,1,44350_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540577,NaN,NaT,None,NaN,Not Defined,2019-04-05 13:17:54,0.0,0.0,0.0,2019-04-05 13:17:54,None,0.0,0.0,46.307500,Illichivsk Buffer,...,UNAVAILABLE,None,617527327395151871,9,30.723400,992726016,None,None,A,NaN,POINT (30.72340 46.30750),77,43645,1,43645_1
778731,NaN,NaT,None,NaN,Not Defined,2019-04-07 13:23:48,0.0,0.0,0.0,2019-04-07 13:23:48,None,0.0,0.0,46.307500,Illichivsk Buffer,...,UNAVAILABLE,None,617527327395151871,9,30.723400,992726016,None,None,A,NaN,POINT (30.72340 46.30750),77,43645,1,43645_1
139696,NaN,NaT,None,NaN,Not Defined,2019-04-02 21:17:23,0.0,0.0,0.0,2019-04-02 21:17:23,None,0.0,0.0,46.307900,Illichivsk Buffer,...,UNAVAILABLE,None,617527327395151871,9,30.724100,992726017,None,None,A,NaN,POINT (30.72410 46.30790),77,43645,1,43645_1
291377,NaN,NaT,None,NaN,Not Defined,2019-04-03 11:11:23,0.0,0.0,0.0,2019-04-03 11:11:23,None,0.0,0.0,46.307900,Illichivsk Buffer,...,UNAVAILABLE,None,617527327395151871,9,30.724100,992726017,None,None,A,NaN,POINT (30.72410 46.30790),77,43645,1,43645_1
1011579,NaN,NaT,None,NaN,Not Defined,2019-04-08 18:14:23,0.0,0.0,0.0,2019-04-08 18:14:23,None,0.0,0.0,46.307900,Illichivsk Buffer,...,UNAVAILABLE,None,617527327395151871,9,30.724100,992726017,None,None,A,NaN,POINT (30.72410 46.30790),77,43645,1,43645_1

In [70]:
filtered_df['d_dt_pos'] = filtered_df['dt_pos_utc'] - filtered_df['dt_pos_utc'].shift(-1)
filtered_df['d_dt_static'] = filtered_df['dt_static_utc'] - filtered_df['dt_static_utc'].shift(-1)

In [71]:
polygon_mapping = {
    polygon: index for polygon, index in zip(filtered_df.polygon.unique(), np.arange(filtered_df.polygon.nunique()))
}

In [72]:
filtered_df['polygon'] = filtered_df['polygon'].map(polygon_mapping)
filtered_df.head()

,width,dt_static_utc,vessel_type_cargo,length,nav_status,dt_pos_utc,heading,cog,rot,dt_insert_utc,vessel_type_main,sog,draught,latitude,polygon_name,...,H3_int_index_9,hex_resolution,longitude,mmsi,flag_country,destination,vessel_class,imo,coordinates,index_right,id,buffer,polygon,d_dt_pos,d_dt_static
93225,0.0,2019-03-31 23:59:55,None,0.0,Engaged In Fishing,2019-04-01 00:00:19,0.0,47.3,0.0,2019-04-01 00:00:19,None,0.1,25.5,41.725078,Batumi Buffer,...,617769527947034623,9,41.728247,2060,None,None,A,NaN,POINT (41.72825 41.72508),81,44350,1,0,-1 days +23:49:51,0 days 00:00:00
27576,0.0,2019-03-31 23:59:55,None,0.0,Engaged In Fishing,2019-04-01 00:10:28,0.0,170.5,0.0,2019-04-01 00:10:28,None,0.1,25.5,41.725092,Batumi Buffer,...,617769527947034623,9,41.728248,2060,None,None,A,NaN,POINT (41.72825 41.72509),81,44350,1,0,-1 days +23:49:59,-1 days +23:47:58
60136,0.0,2019-04-01 00:11:57,None,0.0,Engaged In Fishing,2019-04-01 00:20:29,0.0,173.5,0.0,2019-04-01 00:20:29,None,0.1,25.5,41.725072,Batumi Buffer,...,617769527947034623,9,41.728250,2060,None,None,A,NaN,POINT (41.72825 41.72507),81,44350,1,0,-1 days +23:49:50,-1 days +23:47:59
72340,0.0,2019-04-01 00:23:58,None,0.0,Engaged In Fishing,2019-04-01 00:30:39,0.0,171.8,0.0,2019-04-01 00:30:39,None,0.1,25.5,41.725063,Batumi Buffer,...,617769527947034623,9,41.728225,2060,None,None,A,NaN,POINT (41.72823 41.72506),81,44350,1,0,-1 days +23:50:00,0 days 00:00:00
72338,0.0,2019-04-01 00:23:58,None,0.0,Engaged In Fishing,2019-04-01 00:40:39,0.0,171.8,0.0,2019-04-01 00:40:39,None,0.1,25.5,41.725037,Batumi Buffer,...,617769527947034623,9,41.728225,2060,None,None,A,NaN,POINT (41.72823 41.72504),81,44350,1,0,-1 days +23:49:50,-1 days +23:41:57

In [83]:
from datetime import timedelta
THRESHOLD = timedelta(
    days=0,
    seconds=0,
    microseconds=0,
    milliseconds=0,
    minutes=0,
    hours=12,
    weeks=0
)
THRESHOLD

datetime.timedelta(seconds=43200)

In [109]:
def assign_routes_to_group(x):
    polygon_diff = x['polygon'].diff().ne(0)
    time_diff = x['d_dt_pos'] < -1 * THRESHOLD
    buffer = x['buffer']
    return (polygon_diff | (time_diff & buffer)).cumsum()

In [110]:
filtered_df['route'] =  filtered_df.groupby('mmsi').apply(
    assign_routes_to_group
).reset_index(level=0, drop=True)

Checking when two consecutive obs. with equal pos datetime

In [120]:
pd.options.display.max_columns = None

In [121]:
filtered_df[filtered_df['d_dt_pos'] == timedelta(
    days=0,
    seconds=0,
    microseconds=0,
    milliseconds=0,
    minutes=0,
    hours=0,
    weeks=0
)].sort_values(by=['mmsi', 'dt_pos_utc', 'dt_static_utc'])

,width,dt_static_utc,vessel_type_cargo,length,nav_status,dt_pos_utc,heading,cog,rot,dt_insert_utc,vessel_type_main,sog,draught,latitude,polygon_name,vessel_type,vessel_name,vessel_type_sub,H3_int_index_9,hex_resolution,longitude,mmsi,flag_country,destination,vessel_class,imo,coordinates,index_right,id,buffer,polygon,d_dt_pos,d_dt_static,route
98813,2.0,2019-04-01 00:03:53,None,12.0,Not Defined,2019-04-01 00:07:06,0.0,253.2,0.0,2019-04-01 00:07:06,None,0.0,0.0,42.153715,Supsa Marine Terminal Buffer,Unknown,POTI,None,617769509610586111,9,41.655695,2130300,None,None,A,NaN,POINT (41.65570 42.15371),66,44345,1,2,0 days,0 days,1
264,2.0,2019-04-01 00:03:53,None,12.0,Not Defined,2019-04-01 00:09:46,0.0,253.2,0.0,2019-04-01 00:09:46,None,0.0,0.0,42.153745,Supsa Marine Terminal Buffer,Unknown,POTI,None,617769509610586111,9,41.655675,2130300,None,None,A,NaN,POINT (41.65568 42.15375),66,44345,1,2,0 days,0 days,3
71965,2.0,2019-04-01 00:15:52,None,12.0,Not Defined,2019-04-01 00:20:15,0.0,253.2,0.0,2019-04-01 00:20:15,None,0.0,0.0,42.153745,Supsa Marine Terminal Buffer,Unknown,POTI,None,617769509610586111,9,41.655700,2130300,None,None,A,NaN,POINT (41.65570 42.15375),66,44345,1,2,0 days,0 days,5
98829,2.0,2019-04-01 00:27:55,None,12.0,Not Defined,2019-04-01 00:32:17,0.0,253.2,0.0,2019-04-01 00:32:17,None,0.0,0.0,42.153735,Supsa Marine Terminal Buffer,Unknown,POTI,None,617769509610586111,9,41.655680,2130300,None,None,A,NaN,POINT (41.65568 42.15373),66,44345,1,2,0 days,0 days,7
98806,2.0,2019-04-01 00:39:56,None,12.0,Not Defined,2019-04-01 00:43:15,0.0,253.2,0.0,2019-04-01 00:43:15,None,0.0,0.0,42.153740,Supsa Marine Terminal Buffer,Unknown,POTI,None,617769509610586111,9,41.655780,2130300,None,None,A,NaN,POINT (41.65578 42.15374),66,44345,1,2,0 days,0 days,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986460,14.0,2019-04-08 23:13:46,None,82.0,At Anchor,2019-04-08 23:21:14,32.0,0.0,0.0,2019-04-08 23:21:14,Service Ship,0.0,0.0,46.875707,Mykolayiv Buffer,Dredging,GINGER,Hopper Dredger,617526307708469247,9,31.993037,677072700,Tanzania,-,A,6521915.0,POINT (31.99304 46.87571),64,43670,1,46,0 days,0 days,1989
931834,14.0,2019-04-08 23:25:46,None,82.0,At Anchor,2019-04-08 23:33:14,144.0,0.0,0.0,2019-04-08 23:33:14,Service Ship,0.0,0.0,46.875675,Mykolayiv Buffer,Dredging,GINGER,Hopper Dredger,617526307708469247,9,31.993143,677072700,Tanzania,-,A,6521915.0,POINT (31.99314 46.87568),64,43670,1,46,0 days,0 days,1991
894840,14.0,2019-04-08 23:37:46,None,82.0,At Anchor,2019-04-08 23:45:14,26.0,0.0,0.0,2019-04-08 23:45:14,Service Ship,0.0,0.0,46.875658,Mykolayiv Buffer,Dredging,GINGER,Hopper Dredger,617526307708469247,9,31.993123,677072700,Tanzania,-,A,6521915.0,POINT (31.99312 46.87566),64,43670,1,46,0 days,0 days,1993
1010318,14.0,2019-04-08 23:37:46,None,82.0,At Anchor,2019-04-08 23:47:09,0.0,0.0,0.0,2019-04-08 23:47:09,Service Ship,0.0,0.0,46.875000,Mykolayiv Buffer,Dredging,GINGER,Hopper Dredger,617526295213375487,9,31.991667,677072700,Tanzania,-,A,6521915.0,POINT (31.99167 46.87500),64,43670,1,46,0 days,0 days,1995
906486,14.0,2019-04-08 23:49:46,None,82.0,At Anchor,2019-04-08 23:57:14,120.0,0.0,0.0,2019-04-08 23:57:14,Service Ship,0.0,0.0,46.875630,Mykolayiv Buffer,Dredging,GINGER,Hopper Dredger,617526307708469247,9,31.993227,677072700,Tanzania,-,A,6521915.0,POINT (31.99323 46.87563),64,43670,1,46,0 days,0 days,1997

Happens quite rarely : polygons intersecting ?

## RESET : enchaînement des destinations ?

In [17]:
ais_df.shape

(4406590, 6)

In [18]:
ais_df = ais_df.sort_values(by=['mmsi', 'dt_insert_utc'])

In [19]:
destination_mapping = {
    destination: index for destination, index in zip(ais_df.destination.unique(), np.arange(ais_df.destination.nunique()))
}

In [20]:
ais_df['destination_index'] = ais_df['destination'].map(destination_mapping)
ais_df['destination_index'] = ais_df['destination_index'].fillna(-1)
ais_df['destination_index'] = ais_df['destination_index'].astype(int)
ais_df.head()

,mmsi,latitude,longitude,eeid,dt_insert_utc,destination,destination_index
89968,203999383,45.826287,18.852413,NaN,2019-03-25 02:25:41,CONSTANTA,0
89965,203999383,45.810085,18.848063,NaN,2019-03-25 02:36:02,CONSTANTA,0
113865,203999383,45.793502,18.853033,NaN,2019-03-25 02:46:41,CONSTANTA,0
150165,203999383,45.793228,18.853223,NaN,2019-03-25 02:46:52,CONSTANTA,0
113864,203999383,45.784790,18.872357,NaN,2019-03-25 02:57:05,CONSTANTA,0

In [21]:
def assign_routes_to_group(x):
    return x['destination_index'].diff().ne(0).cumsum()

In [22]:
ais_df['route'] =  ais_df.groupby('mmsi').apply(
    assign_routes_to_group
).reset_index(level=0, drop=True)

In [23]:
ais_df.head()

,mmsi,latitude,longitude,eeid,dt_insert_utc,destination,destination_index,route
89968,203999383,45.826287,18.852413,NaN,2019-03-25 02:25:41,CONSTANTA,0,1
89965,203999383,45.810085,18.848063,NaN,2019-03-25 02:36:02,CONSTANTA,0,1
113865,203999383,45.793502,18.853033,NaN,2019-03-25 02:46:41,CONSTANTA,0,1
150165,203999383,45.793228,18.853223,NaN,2019-03-25 02:46:52,CONSTANTA,0,1
113864,203999383,45.784790,18.872357,NaN,2019-03-25 02:57:05,CONSTANTA,0,1

In [24]:
routes_df = ais_df.groupby(['mmsi', 'route', 'destination']).agg(
    {
        'dt_insert_utc': ['first', 'last'], 
        'latitude': ['first', 'last'], 
        'longitude': ['first', 'last'],
        'route': 'count'
    }
)

In [25]:
routes_df.columns = routes_df.columns.map('_'.join).str.strip('_')

In [26]:
routes_df.reset_index()

,mmsi,route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,route_count
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-03-25 05:26:00,45.826287,45.588313,18.852413,18.902228,35
1,203999383,2,KLIZSKA NEMA,2019-03-25 05:33:54,2019-03-25 05:33:54,45.577460,45.577460,18.889852,18.889852,1
2,203999383,3,CONSTANTA,2019-03-25 05:36:34,2019-03-25 06:14:02,45.573232,45.533590,18.887872,18.948965,8
3,203999383,4,KLIZSKA NEMA,2019-03-25 06:18:51,2019-03-25 06:18:51,45.533115,45.533115,18.960153,18.960153,1
4,203999383,5,CONSTANTA,2019-03-25 06:24:02,2019-03-25 06:44:08,45.534847,45.554627,18.972773,19.010715,5
...,...,...,...,...,...,...,...,...,...,...
36867,677092400,5,BANGHAZI / LIBYA,2019-03-28 19:54:50,2019-03-29 20:40:12,32.106792,32.106787,20.044840,20.044843,195
36868,677092400,7,BANGHAZI / LIBYA,2019-03-29 20:40:19,2019-04-14 23:09:07,32.106833,32.712833,20.044833,20.284000,1308
36869,677096200,1,MISURATA,2019-03-25 01:09:30,2019-03-25 04:27:00,40.651372,40.134597,18.302312,18.725785,18
36870,677096200,2,NLKAM10084HRARE0001,2019-03-25 04:39:00,2019-03-25 04:39:00,40.098427,40.098427,18.731063,18.731063,1
36871,677096200,3,MISURATA,2019-03-25 04:49:40,2019-04-13 19:01:35,40.067680,31.584105,18.722293,31.744750,129

In [27]:
routes_df.sort_values(['mmsi', 'route'])

                                    dt_insert_utc_first  dt_insert_utc_last  \
mmsi      route destination
203999383 1     CONSTANTA           2019-03-25 02:25:41 2019-03-25 05:26:00
          2     KLIZSKA NEMA        2019-03-25 05:33:54 2019-03-25 05:33:54
          3     CONSTANTA           2019-03-25 05:36:34 2019-03-25 06:14:02
          4     KLIZSKA NEMA        2019-03-25 06:18:51 2019-03-25 06:18:51
          5     CONSTANTA           2019-03-25 06:24:02 2019-03-25 06:44:08
...                                                 ...                 ...
677092400 5     BANGHAZI / LIBYA    2019-03-28 19:54:50 2019-03-29 20:40:12
          7     BANGHAZI / LIBYA    2019-03-29 20:40:19 2019-04-14 23:09:07
677096200 1     MISURATA            2019-03-25 01:09:30 2019-03-25 04:27:00
          2     NLKAM10084HRARE0001 2019-03-25 04:39:00 2019-03-25 04:39:00
          3     MISURATA            2019-03-25 04:49:40 2019-04-13 19:01:35

                                     latitude_first  latitude_last  \
mmsi      route destination
203999383 1     CONSTANTA                 45.826287      45.588313
          2     KLIZSKA NEMA              45.577460      45.577460
          3     CONSTANTA                 45.573232      45.533590
          4     KLIZSKA NEMA              45.533115      45.533115
          5     CONSTANTA                 45.534847      45.554627
...                                             ...            ...
677092400 5     BANGHAZI / LIBYA          32.106792      32.106787
          7     BANGHAZI / LIBYA          32.106833      32.712833
677096200 1     MISURATA                  40.651372      40.134597
          2     NLKAM10084HRARE0001       40.098427      40.098427
          3     MISURATA                  40.067680      31.584105

                                     longitude_first  longitude_last  \
mmsi      route destination
203999383 1     CONSTANTA                  18.852413       18.902228
          2     KLIZSKA NEMA               18.889852       18.889852
          3     CONSTANTA                  18.887872       18.948965
          4     KLIZSKA NEMA               18.960153       18.960153
          5     CONSTANTA                  18.972773       19.010715
...                                              ...             ...
677092400 5     BANGHAZI / LIBYA           20.044840       20.044843
          7     BANGHAZI / LIBYA           20.044833       20.284000
677096200 1     MISURATA                   18.302312       18.725785
          2     NLKAM10084HRARE0001        18.731063       18.731063
          3     MISURATA                   18.722293       31.744750

                                     route_count
mmsi      route destination
203999383 1     CONSTANTA                     35
          2     KLIZSKA NEMA                   1
          3     CONSTANTA                      8
          4     KLIZSKA NEMA                   1
          5     CONSTANTA                      5
...                                          ...
677092400 5     BANGHAZI / LIBYA             195
          7     BANGHAZI / LIBYA            1308
677096200 1     MISURATA                      18
          2     NLKAM10084HRARE0001            1
          3     MISURATA                     129

[36872 rows x 7 columns]

In [28]:
routes_df[routes_df['route_count'] == 2]

                                    dt_insert_utc_first  dt_insert_utc_last  \
mmsi      route destination
207008000 12    POTI                2019-03-25 22:07:18 2019-03-25 22:17:28
          18    VARNA               2019-04-01 07:50:33 2019-04-01 08:02:34
207037000 6     VARNA     ORAGE     2019-04-02 02:48:10 2019-04-02 02:59:10
207038000 7     OPENSEA             2019-04-01 08:43:21 2019-04-01 08:53:23
207261209 2     RUSE                2019-04-13 19:51:19 2019-04-14 19:36:10
...                                                 ...                 ...
677030700 49    MYKOLAYIV           2019-03-28 23:08:29 2019-03-28 23:26:36
677041700 20    BURGAS              2019-03-28 06:30:03 2019-03-28 06:40:13
          28    BURGAS              2019-03-28 10:16:38 2019-03-28 10:26:49
677063200 7     HEREKE            F 2019-04-07 18:45:05 2019-04-07 18:47:05
677072400 11    ROSTOV RU           2019-03-27 03:55:39 2019-03-27 04:02:39

                                     latitude_first  latitude_last  \
mmsi      route destination
207008000 12    POTI                      43.112217      43.107260
          18    VARNA                     46.344068      46.344027
207037000 6     VARNA     ORAGE           43.197697      43.197703
207038000 7     OPENSEA                   43.183967      43.183993
207261209 2     RUSE                      43.848957      43.848957
...                                             ...            ...
677030700 49    MYKOLAYIV                 46.858740      46.858733
677041700 20    BURGAS                    40.945038      40.945058
          28    BURGAS                    40.936752      40.922197
677063200 7     HEREKE            F       40.776803      40.776695
677072400 11    ROSTOV RU                 41.095680      41.106020

                                     longitude_first  longitude_last  \
mmsi      route destination
207008000 12    POTI                       28.822708       28.857490
          18    VARNA                      30.651950       30.652035
207037000 6     VARNA     ORAGE            27.892078       27.892085
207038000 7     OPENSEA                    27.900067       27.900072
207261209 2     RUSE                       25.945310       25.945310
...                                              ...             ...
677030700 49    MYKOLAYIV                  31.983280       31.983340
677041700 20    BURGAS                     24.471367       24.471375
          28    BURGAS                     24.483283       24.497598
677063200 7     HEREKE            F        29.597107       29.597110
677072400 11    ROSTOV RU                  29.061803       29.067267

                                     route_count
mmsi      route destination
207008000 12    POTI                           2
          18    VARNA                          2
207037000 6     VARNA     ORAGE                2
207038000 7     OPENSEA                        2
207261209 2     RUSE                           2
...                                          ...
677030700 49    MYKOLAYIV                      2
677041700 20    BURGAS                         2
          28    BURGAS                         2
677063200 7     HEREKE            F            2
677072400 11    ROSTOV RU                      2

[4568 rows x 7 columns]

In [29]:
!pip install seaborn

Requirement already satisfied: seaborn in /opt/mamba/lib/python3.10/site-packages (0.12.0)
Requirement already satisfied: matplotlib>=3.1 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (3.6.1)
Requirement already satisfied: numpy>=1.17 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (1.23.4)
Requirement already satisfied: pandas>=0.25 in /opt/mamba/lib/python3.10/site-packages (from seaborn) (1.5.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (1.4.4)
Requirement already satisfied: contourpy>=1.0.1 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (1.0.5)
Requirement already satisfied: python-dateutil>=2.7 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /opt/mamba/lib/python3.10/site-packages (from matplotlib>=3.1->seaborn) (21.3)
Requirement already satisfied: pytz>=2020.1 in /opt/mamba/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.5)
Requirement already satisfied: six>=1.5 in /opt/mamba/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.1->seaborn) (1.16.0)

In [30]:
np.unique(routes_df[routes_df['route_count'] < 20]["route_count"].values, return_counts=True)

(array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
        18, 19]),
 array([15145,  4568,  2257,  1492,  1062,   746,   572,   491,   419,
          307,   287,   266,   233,   189,   186,   166,   166,   137,
          115]))

In [32]:
routes_df['route_time'] = routes_df['dt_insert_utc_last'] - routes_df['dt_insert_utc_first']

In [33]:
!pip install geopy
import geopy.distance

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.9/118.9 kB 5.6 MB/s eta 0:00:00
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0

In [34]:
routes_df['distance'] = [geopy.distance.geodesic([latitude_first, longitude_first], [latitude_last, longitude_last]).km
                         for (latitude_first, longitude_first, latitude_last, longitude_last) in
                         zip(routes_df['latitude_first'], routes_df['longitude_first'], routes_df['latitude_last'], routes_df['longitude_last'])]

In [35]:
routes_df

                                    dt_insert_utc_first  dt_insert_utc_last  \
mmsi      route destination
203999383 1     CONSTANTA           2019-03-25 02:25:41 2019-03-25 05:26:00
          2     KLIZSKA NEMA        2019-03-25 05:33:54 2019-03-25 05:33:54
          3     CONSTANTA           2019-03-25 05:36:34 2019-03-25 06:14:02
          4     KLIZSKA NEMA        2019-03-25 06:18:51 2019-03-25 06:18:51
          5     CONSTANTA           2019-03-25 06:24:02 2019-03-25 06:44:08
...                                                 ...                 ...
677092400 5     BANGHAZI / LIBYA    2019-03-28 19:54:50 2019-03-29 20:40:12
          7     BANGHAZI / LIBYA    2019-03-29 20:40:19 2019-04-14 23:09:07
677096200 1     MISURATA            2019-03-25 01:09:30 2019-03-25 04:27:00
          2     NLKAM10084HRARE0001 2019-03-25 04:39:00 2019-03-25 04:39:00
          3     MISURATA            2019-03-25 04:49:40 2019-04-13 19:01:35

                                     latitude_first  latitude_last  \
mmsi      route destination
203999383 1     CONSTANTA                 45.826287      45.588313
          2     KLIZSKA NEMA              45.577460      45.577460
          3     CONSTANTA                 45.573232      45.533590
          4     KLIZSKA NEMA              45.533115      45.533115
          5     CONSTANTA                 45.534847      45.554627
...                                             ...            ...
677092400 5     BANGHAZI / LIBYA          32.106792      32.106787
          7     BANGHAZI / LIBYA          32.106833      32.712833
677096200 1     MISURATA                  40.651372      40.134597
          2     NLKAM10084HRARE0001       40.098427      40.098427
          3     MISURATA                  40.067680      31.584105

                                     longitude_first  longitude_last  \
mmsi      route destination
203999383 1     CONSTANTA                  18.852413       18.902228
          2     KLIZSKA NEMA               18.889852       18.889852
          3     CONSTANTA                  18.887872       18.948965
          4     KLIZSKA NEMA               18.960153       18.960153
          5     CONSTANTA                  18.972773       19.010715
...                                              ...             ...
677092400 5     BANGHAZI / LIBYA           20.044840       20.044843
          7     BANGHAZI / LIBYA           20.044833       20.284000
677096200 1     MISURATA                   18.302312       18.725785
          2     NLKAM10084HRARE0001        18.731063       18.731063
          3     MISURATA                   18.722293       31.744750

                                     route_count       route_time     distance
mmsi      route destination
203999383 1     CONSTANTA                     35  0 days 03:00:19    26.732632
          2     KLIZSKA NEMA                   1  0 days 00:00:00     0.000000
          3     CONSTANTA                      8  0 days 00:37:28     6.493740
          4     KLIZSKA NEMA                   1  0 days 00:00:00     0.000000
          5     CONSTANTA                      5  0 days 00:20:06     3.689566
...                                          ...              ...          ...
677092400 5     BANGHAZI / LIBYA             195  1 days 00:45:22     0.000637
          7     BANGHAZI / LIBYA            1308 16 days 02:28:48    70.867836
677096200 1     MISURATA                      18  0 days 03:17:30    67.716720
          2     NLKAM10084HRARE0001            1  0 days 00:00:00     0.000000
          3     MISURATA                     129 19 days 14:11:55  1504.060540

[36872 rows x 9 columns]

In [37]:
routes_df['real_route'] = routes_df['distance'] > 0.5

In [38]:
routes_df.groupby('real_route')['route_count'].count()

real_route
False    22988
True     13884
Name: route_count, dtype: int64

In [39]:
routes_df.groupby('real_route')['route_count'].sum()

real_route
False     791987
True     3000155
Name: route_count, dtype: int64

In [40]:
real_routes = routes_df[routes_df['distance'] > 50].reset_index()

In [41]:
real_routes['consecutive'] = real_routes['route'] - real_routes['route'].shift(1)
real_routes[real_routes['consecutive'] == 0]

,mmsi,route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,route_count,route_time,distance,real_route,consecutive
43,207262337,16,RUSE,2019-03-30 00:00:50,2019-04-14 19:08:11,44.101222,43.903510,28.588238,26.058110,168,15 days 19:07:21,204.101262,True,0.0
166,215231000,2,PTAVE,2019-03-28 00:09:39,2019-03-28 23:54:06,38.519017,40.365700,-8.881500,-9.068400,143,0 days 23:44:27,205.656243,True,0.0
529,248975000,1,GIGIB,2019-03-25 00:09:54,2019-03-25 23:33:23,36.201967,35.892900,-5.063050,-5.493533,85,0 days 23:23:29,51.776304,True,0.0
602,249632000,1,AU PHE,2019-03-25 00:08:32,2019-03-28 09:52:37,2.075317,-14.659053,119.373397,117.137157,655,3 days 09:44:05,1867.091005,True,0.0
681,256183000,2,RU YEY,2019-04-01 05:53:58,2019-04-11 20:52:49,41.722683,46.732260,32.173117,38.267153,1025,10 days 14:58:51,739.084502,True,0.0
901,264162493,1,BRAILA>GROPENI,2019-03-25 04:22:43,2019-03-25 17:23:22,45.197127,45.433413,28.789993,28.188215,69,0 days 13:00:39,54.002182,True,0.0
905,264162519,6,PRAHOVO,2019-03-28 00:02:01,2019-04-01 09:31:48,44.096033,44.719260,28.671505,21.027353,736,4 days 09:29:47,612.589048,True,0.0
940,264162967,1,LOM,2019-03-25 00:03:10,2019-04-04 07:59:57,43.843333,44.027842,23.273333,26.318730,920,10 days 07:56:47,245.367458,True,0.0
943,264163065,1,PERIPRAVA,2019-04-01 08:04:32,2019-04-08 10:20:20,45.442867,45.181047,28.087350,28.794857,15,7 days 02:15:48,62.648334,True,0.0
944,264163123,1,GYOR GYONU,2019-03-25 00:07:13,2019-03-25 11:31:12,48.638698,48.386322,13.180222,14.019537,80,0 days 11:23:59,68.065708,True,0.0
1332,271044362,1,KDZ.EREGLI/TURKEY,2019-03-25 03:02:08,2019-04-04 02:43:15,35.976667,41.760000,33.129333,32.102500,462,9 days 23:41:07,648.166053,True,0.0
1502,273156000,21,NOVOROSSIYSK,2019-03-26 23:43:10,2019-03-27 14:29:07,44.106225,44.729973,38.906735,37.781937,101,0 days 14:45:57,113.261442,True,0.0
1516,273311240,1,RU ROV,2019-03-25 01:08:50,2019-03-27 23:35:49,46.083333,47.171667,37.108333,39.578333,326,2 days 22:26:59,224.523369,True,0.0
1596,273317430,1,RU ROV,2019-03-25 00:03:41,2019-03-27 23:43:58,46.241717,47.208000,37.203933,39.713817,254,2 days 23:40:17,219.875886,True,0.0
1833,273344330,4,KAVKAZ,2019-03-31 07:53:30,2019-03-31 23:47:55,46.910500,45.413117,38.002383,36.677200,57,0 days 15:54:25,195.386801,True,0.0
1839,273345930,5,RU ROV,2019-03-25 01:47:46,2019-03-25 06:24:02,38.008667,38.504000,24.607167,24.756833,2,0 days 04:36:16,56.521608,True,0.0
1947,273352800,6,AZOV,2019-03-27 07:42:24,2019-04-02 04:36:10,40.962483,47.117967,27.506467,39.395517,542,5 days 20:53:46,1170.881533,True,0.0
1977,273354910,1,RU ROV,2019-03-25 00:06:14,2019-03-25 17:59:44,46.605717,46.996183,37.377283,38.471850,111,0 days 17:53:30,94.157907,True,0.0
2193,273378000,1,ROSTOV,2019-03-25 23:45:46,2019-03-29 23:51:37,43.123132,47.203662,33.163348,39.695283,396,4 days 00:05:51,684.688814,True,0.0
2498,273437050,1,RU ROV,2019-03-25 00:58:18,2019-03-29 09:34:05,44.967600,47.209983,30.814150,39.713670,359,4 days 08:35:47,731.509488,True,0.0
2523,273439710,1,RU RND,2019-03-25 00:10:31,2019-03-28 23:53:21,45.020823,47.185600,36.516365,39.647745,465,3 days 23:42:50,341.294280,True,0.0
2744,312481000,1,FERROL,2019-03-25 00:09:31,2019-03-27 23:59:34,50.439102,43.481958,-0.848525,-8.250107,129,2 days 23:50:03,955.812556,True,0.0
3309,374300000,25,ROSTOV,2019-03-31 23:56:21,2019-04-04 13:44:06,45.531167,47.185833,36.827600,39.645117,297,3 days 13:47:45,284.307769,True,0.0
3350,374499000,11,TR DIL,2019-03-25 09:27:36,2019-03-29 23:50:37,43.966622,40.750215,38.883897,29.755918,341,4 days 14:23:01,831.920120,True,0.0
3361,374852000,1,ALEXANDRIA,2019-03-25 12:34:59,2019-04-02 12:00:34,36.697940,31.166597,27.293975,29.859755,194,7 days 23:25:35,657.729314,True,0.0
3807,565507000,1,KAOHSIUNG TW,2019-03-25 00:12:36,2019-03-27 14:27:41,14.436667,6.253333,114.141667,108.036667,406,2 days 14:15:05,1124.971119,True,0.0
3956,622121425,1,ODESSA,2019-03-25 00:05:48,2019-03-28 23:55:30,45.167383,46.504367,30.692300,30.730883,457,3 days 23:49:42,148.633397,True,0.0
4282,667001710,1,BIERUT,2019-03-25 00:05:34,2019-03-30 01:51:36,35.405833,38.129475,35.417698,26.499807,102,5 days 01:46:02,851.187338,True,0.0
4361,671346000,1,RADES,2019-03-25 01:30:58,2019-03-26 20:01:38,43.221515,39.360650,29.422617,25.453913,131,1 days 18:30:40,542.413133,True,0.0
4367,671782000,2,ORDER,2019-03-25 07:19:26,2019-04-08 05:54:16,31.178367,35.711717,29.870483,14.168383,694,13 days 22:34:50,1542.002558,True,0.0

In [42]:
routes_df = routes_df.reset_index()

In [43]:
routes_df[routes_df['mmsi'] == 264162493].sort_values(by=['route'])

,mmsi,route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,route_count,route_time,distance,real_route
7925,264162493,1,BRAILA>GROPENI,2019-03-25 04:22:43,2019-03-25 17:23:22,45.197127,45.433413,28.789993,28.188215,69,0 days 13:00:39,54.002182,True
7926,264162493,2,TULCEA,2019-03-26 03:42:32,2019-03-26 06:01:23,45.433400,45.415115,28.188257,28.039555,20,0 days 02:18:51,11.813904,True
7927,264162493,3,BRAILA>GROPENI,2019-03-26 06:09:22,2019-03-26 06:09:22,45.406820,45.406820,28.030210,28.030210,1,0 days 00:00:00,0.000000,False
7928,264162493,4,TULCEA,2019-03-26 06:13:42,2019-03-26 09:11:34,45.401603,45.189667,28.027473,27.945155,25,0 days 02:57:52,24.423152,True
7929,264162493,5,BRAILA>GROPENI,2019-03-26 09:27:52,2019-03-26 09:27:52,45.167558,45.167558,27.942632,27.942632,1,0 days 00:00:00,0.000000,False
7930,264162493,6,TULCEA,2019-03-26 09:39:32,2019-03-26 14:12:02,45.154305,45.285827,27.952852,27.993660,6,0 days 04:32:30,14.964111,True
7931,264162493,7,BRAILA>GROPENI,2019-03-26 14:22:43,2019-03-26 14:22:43,45.312570,45.312570,28.000775,28.000775,1,0 days 00:00:00,0.000000,False
7932,264162493,8,TULCEA,2019-03-26 14:33:34,2019-03-26 16:28:24,45.339105,45.445220,28.012262,28.275230,13,0 days 01:54:50,23.730356,True
7933,264162493,9,BRAILA>GROPENI,2019-03-26 16:39:12,2019-03-26 16:39:12,45.419973,45.419973,28.285458,28.285458,1,0 days 00:00:00,0.000000,False
7934,264162493,10,TULCEA,2019-03-26 16:49:44,2019-03-26 19:19:24,45.392858,45.217047,28.290262,28.752625,17,0 days 02:29:40,41.191120,True
7935,264162493,11,BRAILA>GROPENI,2019-03-26 19:29:33,2019-03-26 19:29:33,45.212893,45.212893,28.787330,28.787330,1,0 days 00:00:00,0.000000,False
7936,264162493,12,TULCEA,2019-03-26 19:37:03,2019-03-28 04:11:49,45.197448,45.197092,28.791753,28.790038,3,1 days 08:34:46,0.140466,False
7937,264162493,13,SULINA,2019-03-28 04:16:34,2019-03-28 04:16:34,45.197493,45.197493,28.790642,28.790642,1,0 days 00:00:00,0.000000,False
7938,264162493,14,TULCEA,2019-03-28 04:22:00,2019-03-28 05:03:41,45.196673,45.199458,28.790018,28.868450,6,0 days 00:41:41,6.170513,True
7939,264162493,15,SULINA,2019-03-28 05:11:31,2019-03-28 05:24:26,45.189180,45.190183,28.888400,28.927515,3,0 days 00:12:55,3.075923,True
7940,264162493,16,TULCEA,2019-03-28 05:30:03,2019-03-28 05:44:31,45.192465,45.189648,28.936585,28.978965,3,0 days 00:14:28,3.345084,True
7941,264162493,17,SULINA,2019-03-28 05:48:16,2019-03-28 05:48:16,45.183552,45.183552,28.987532,28.987532,1,0 days 00:00:00,0.000000,False
7942,264162493,18,TULCEA,2019-03-28 05:54:43,2019-03-28 05:54:43,45.174135,45.174135,29.002572,29.002572,1,0 days 00:00:00,0.000000,False
7943,264162493,19,SULINA,2019-03-28 06:12:25,2019-03-28 06:12:25,45.174813,45.174813,29.057227,29.057227,1,0 days 00:00:00,0.000000,False
7944,264162493,20,TULCEA,2019-03-28 06:24:18,2019-03-28 23:40:02,45.175192,45.178168,29.094598,28.994282,7,0 days 17:15:44,7.892241,True
7945,264162493,21,SULINA,2019-03-28 23:48:42,2019-03-28 23:58:41,45.187027,45.193558,28.981957,28.963950,2,0 days 00:09:59,1.590386,True
7946,264162493,22,TULCEA,2019-03-29 00:09:52,2019-04-04 03:21:31,45.192950,45.197392,28.941888,28.790092,14,6 days 03:11:39,11.938192,True
7947,264162493,23,SULINA,2019-04-04 03:31:31,2019-04-05 08:50:33,45.196182,45.185633,28.790258,28.984007,26,1 days 05:19:02,15.270688,True
7948,264162493,24,TULCEA,2019-04-05 08:54:44,2019-04-09 03:35:56,45.187998,45.196577,28.980275,28.790148,16,3 days 18:41:12,14.971042,True
7949,264162493,25,TATANIR,2019-04-09 03:46:16,2019-04-09 09:10:47,45.192692,45.359630,28.790500,29.044742,26,0 days 05:24:31,27.243379,True
7950,264162493,26,TULCEA,2019-04-09 09:20:56,2019-04-11 03:16:03,45.351308,45.197080,29.025795,28.789975,35,1 days 17:55:07,25.223437,True
7951,264162493,27,SULINA,2019-04-11 03:26:13,2019-04-12 05:10:31,45.196797,45.190127,28.790057,28.924797,31,1 days 01:44:18,10.613926,True
7952,264162493,28,TULCEA,2019-04-12 05:23:42,2019-04-12 06:40:02,45.187197,45.196588,28.897657,28.790115,8,0 days 01:16:20,8.515179,True

In [44]:
routes_df = routes_df[routes_df['distance'] != 0]
routes_df

,mmsi,route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,route_count,route_time,distance,real_route
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-03-25 05:26:00,45.826287,45.588313,18.852413,18.902228,35,0 days 03:00:19,26.732632,True
2,203999383,3,CONSTANTA,2019-03-25 05:36:34,2019-03-25 06:14:02,45.573232,45.533590,18.887872,18.948965,8,0 days 00:37:28,6.493740,True
4,203999383,5,CONSTANTA,2019-03-25 06:24:02,2019-03-25 06:44:08,45.534847,45.554627,18.972773,19.010715,5,0 days 00:20:06,3.689566,True
6,203999383,7,CONSTANTA,2019-03-25 06:54:10,2019-03-25 08:42:01,45.549750,45.480772,19.026677,18.990930,22,0 days 01:47:51,8.159349,True
8,203999383,9,CONSTANTA,2019-03-25 08:52:01,2019-03-25 11:33:09,45.463798,45.303707,18.990038,19.099995,32,0 days 02:41:08,19.766959,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36865,677092400,3,BANGHAZI / LIBYA,2019-03-27 18:56:51,2019-03-28 19:54:10,32.106800,32.106833,20.044827,20.044833,329,1 days 00:57:19,0.003749,False
36867,677092400,5,BANGHAZI / LIBYA,2019-03-28 19:54:50,2019-03-29 20:40:12,32.106792,32.106787,20.044840,20.044843,195,1 days 00:45:22,0.000637,False
36868,677092400,7,BANGHAZI / LIBYA,2019-03-29 20:40:19,2019-04-14 23:09:07,32.106833,32.712833,20.044833,20.284000,1308,16 days 02:28:48,70.867836,True
36869,677096200,1,MISURATA,2019-03-25 01:09:30,2019-03-25 04:27:00,40.651372,40.134597,18.302312,18.725785,18,0 days 03:17:30,67.716720,True
36871,677096200,3,MISURATA,2019-03-25 04:49:40,2019-04-13 19:01:35,40.067680,31.584105,18.722293,31.744750,129,19 days 14:11:55,1504.060540,True

In [46]:
routes_df['destination_lag'] = routes_df['destination'].shift(1)

In [47]:
routes_df['new_route'] =  routes_df.groupby('mmsi').apply(
    lambda x: (x['destination'] != x['destination_lag']).cumsum()
).reset_index(level=0, drop=True)

In [48]:
new_routes_df = routes_df.groupby(['mmsi', 'new_route', 'destination']).agg(
    {
        'dt_insert_utc_first': 'first',
        'dt_insert_utc_last': 'last',
        'latitude_first': 'first',
        'latitude_last': 'last',
        'longitude_first': 'first',
        'longitude_last': 'last',
    }
).reset_index()
new_routes_df

,mmsi,new_route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-04-13 18:48:13,45.826287,43.848735,18.852413,25.937700
1,203999385,1,BRATISLAVA,2019-03-25 00:03:08,2019-04-14 23:59:06,48.126865,48.126650,17.153325,17.156872
2,203999389,1,BAIJA,2019-03-25 00:01:19,2019-04-14 23:55:53,44.117348,44.117333,28.643607,28.643602
3,207008000,1,POTI,2019-03-25 00:24:33,2019-03-30 08:50:20,43.188133,43.417903,27.677577,39.431965
4,207008000,2,CHORNOMORSK,2019-03-30 09:01:38,2019-04-01 07:38:33,43.439973,46.344067,39.396180,30.651953
...,...,...,...,...,...,...,...,...,...
12013,677085700,1,RASA,2019-03-25 01:43:13,2019-03-27 09:57:12,37.709032,44.920538,20.643092,14.083112
12014,677085700,2,ALEXANDRIA,2019-03-29 18:14:36,2019-04-07 04:29:12,44.881700,34.339057,14.086032,28.197270
12015,677085700,3,UA NIK,2019-04-07 04:34:51,2019-04-14 23:48:28,34.353887,46.323010,28.190180,31.071918
12016,677092400,1,BANGHAZI / LIBYA,2019-03-25 01:44:46,2019-04-14 23:09:07,32.126507,32.712833,19.984530,20.284000
12017,677096200,1,MISURATA,2019-03-25 01:09:30,2019-04-13 19:01:35,40.651372,31.584105,18.302312,31.744750

In [51]:
new_routes_df['origin'] = new_routes_df.groupby('mmsi')['destination'].shift(1)

In [52]:
new_routes_df

,mmsi,new_route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,origin
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-04-13 18:48:13,45.826287,43.848735,18.852413,25.937700,NaN
1,203999385,1,BRATISLAVA,2019-03-25 00:03:08,2019-04-14 23:59:06,48.126865,48.126650,17.153325,17.156872,NaN
2,203999389,1,BAIJA,2019-03-25 00:01:19,2019-04-14 23:55:53,44.117348,44.117333,28.643607,28.643602,NaN
3,207008000,1,POTI,2019-03-25 00:24:33,2019-03-30 08:50:20,43.188133,43.417903,27.677577,39.431965,NaN
4,207008000,2,CHORNOMORSK,2019-03-30 09:01:38,2019-04-01 07:38:33,43.439973,46.344067,39.396180,30.651953,POTI
...,...,...,...,...,...,...,...,...,...,...
12013,677085700,1,RASA,2019-03-25 01:43:13,2019-03-27 09:57:12,37.709032,44.920538,20.643092,14.083112,NaN
12014,677085700,2,ALEXANDRIA,2019-03-29 18:14:36,2019-04-07 04:29:12,44.881700,34.339057,14.086032,28.197270,RASA
12015,677085700,3,UA NIK,2019-04-07 04:34:51,2019-04-14 23:48:28,34.353887,46.323010,28.190180,31.071918,ALEXANDRIA
12016,677092400,1,BANGHAZI / LIBYA,2019-03-25 01:44:46,2019-04-14 23:09:07,32.126507,32.712833,19.984530,20.284000,NaN
12017,677096200,1,MISURATA,2019-03-25 01:09:30,2019-04-13 19:01:35,40.651372,31.584105,18.302312,31.744750,NaN

In [74]:
new_routes_df['reference_week'] = (new_routes_df['dt_insert_utc_first'] > '2019-04-01') & (new_routes_df['dt_insert_utc_first'] <= '2019-04-08')
new_routes_df

,mmsi,new_route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,origin,day,date,next_destination,reference_week
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-04-13 18:48:13,45.826287,43.848735,18.852413,25.937700,NaN,2019-03-25,13,NaN,False
1,203999385,1,BRATISLAVA,2019-03-25 00:03:08,2019-04-14 23:59:06,48.126865,48.126650,17.153325,17.156872,NaN,2019-03-25,13,NaN,False
2,203999389,1,BAIJA,2019-03-25 00:01:19,2019-04-14 23:55:53,44.117348,44.117333,28.643607,28.643602,NaN,2019-03-25,13,NaN,False
3,207008000,1,POTI,2019-03-25 00:24:33,2019-03-30 08:50:20,43.188133,43.417903,27.677577,39.431965,NaN,2019-03-25,13,CHORNOMORSK,False
4,207008000,2,CHORNOMORSK,2019-03-30 09:01:38,2019-04-01 07:38:33,43.439973,46.344067,39.396180,30.651953,POTI,2019-03-30,13,VARNA,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12013,677085700,1,RASA,2019-03-25 01:43:13,2019-03-27 09:57:12,37.709032,44.920538,20.643092,14.083112,NaN,2019-03-25,13,ALEXANDRIA,False
12014,677085700,2,ALEXANDRIA,2019-03-29 18:14:36,2019-04-07 04:29:12,44.881700,34.339057,14.086032,28.197270,RASA,2019-03-29,13,UA NIK,False
12015,677085700,3,UA NIK,2019-04-07 04:34:51,2019-04-14 23:48:28,34.353887,46.323010,28.190180,31.071918,ALEXANDRIA,2019-04-07,14,NaN,True
12016,677092400,1,BANGHAZI / LIBYA,2019-03-25 01:44:46,2019-04-14 23:09:07,32.126507,32.712833,19.984530,20.284000,NaN,2019-03-25,13,NaN,False
12017,677096200,1,MISURATA,2019-03-25 01:09:30,2019-04-13 19:01:35,40.651372,31.584105,18.302312,31.744750,NaN,2019-03-25,13,NaN,False

In [75]:
new_routes_df['next_destination'] = new_routes_df.groupby('mmsi')['destination'].shift(-1)
new_routes_df

,mmsi,new_route,destination,dt_insert_utc_first,dt_insert_utc_last,latitude_first,latitude_last,longitude_first,longitude_last,origin,day,date,next_destination,reference_week
0,203999383,1,CONSTANTA,2019-03-25 02:25:41,2019-04-13 18:48:13,45.826287,43.848735,18.852413,25.937700,NaN,2019-03-25,13,NaN,False
1,203999385,1,BRATISLAVA,2019-03-25 00:03:08,2019-04-14 23:59:06,48.126865,48.126650,17.153325,17.156872,NaN,2019-03-25,13,NaN,False
2,203999389,1,BAIJA,2019-03-25 00:01:19,2019-04-14 23:55:53,44.117348,44.117333,28.643607,28.643602,NaN,2019-03-25,13,NaN,False
3,207008000,1,POTI,2019-03-25 00:24:33,2019-03-30 08:50:20,43.188133,43.417903,27.677577,39.431965,NaN,2019-03-25,13,CHORNOMORSK,False
4,207008000,2,CHORNOMORSK,2019-03-30 09:01:38,2019-04-01 07:38:33,43.439973,46.344067,39.396180,30.651953,POTI,2019-03-30,13,VARNA,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12013,677085700,1,RASA,2019-03-25 01:43:13,2019-03-27 09:57:12,37.709032,44.920538,20.643092,14.083112,NaN,2019-03-25,13,ALEXANDRIA,False
12014,677085700,2,ALEXANDRIA,2019-03-29 18:14:36,2019-04-07 04:29:12,44.881700,34.339057,14.086032,28.197270,RASA,2019-03-29,13,UA NIK,False
12015,677085700,3,UA NIK,2019-04-07 04:34:51,2019-04-14 23:48:28,34.353887,46.323010,28.190180,31.071918,ALEXANDRIA,2019-04-07,14,NaN,True
12016,677092400,1,BANGHAZI / LIBYA,2019-03-25 01:44:46,2019-04-14 23:09:07,32.126507,32.712833,19.984530,20.284000,NaN,2019-03-25,13,NaN,False
12017,677096200,1,MISURATA,2019-03-25 01:09:30,2019-04-13 19:01:35,40.651372,31.584105,18.302312,31.744750,NaN,2019-03-25,13,NaN,False

In [76]:
new_routes_df.groupby(['destination', 'reference_week', 'next_destination'])['mmsi'].count()

destination          reference_week  next_destination
#HDCR*H!!!)JM0I*!&   False           NLRTM               1
-                    False           -C?M                1
                     True            -C>-                1
                                     -[C?<)RD\K$OQ8)     1
-C>-                 False           -                   1
                                                        ..
ZONGULDAKPLAN        False           ZONGULDAK           1
ZOUK                 True            PIREU               1
ZRP                  False           DILISKELESI         1
\I[NCYAH  4(H "   *  False           VITORIA             1
_                    True            C08!TTAA>5          1
Name: mmsi, Length: 6419, dtype: int64

In [77]:
departure_counts = new_routes_df.groupby(['destination', 'reference_week', 'next_destination'])['mmsi'].count()

In [79]:
departure_counts = pd.DataFrame(departure_counts).reset_index()
departure_counts[departure_counts.reference_week]

      index      destination  reference_week next_destination  mmsi
2         2                -            True             -C>-     1
3         3                -            True  -[C?<)RD\K$OQ8)     1
5         5             -C?M            True                -     1
6         6  -[C?<)RD\K$OQ8)            True                -     1
9         9                0            True               B0     1
...     ...              ...             ...              ...   ...
6399   6399            ZAPOR            True       HERNOMORSK     1
6400   6400            ZAPOR            True           ODESSA     1
6403   6403       ZAPOROZHYE            True      DILISKELESI     1
6415   6415             ZOUK            True            PIREU     1
6418   6418                _            True       C08!TTAA>5     1

[2378 rows x 5 columns]

In [80]:
departure_counts[departure_counts['mmsi'] > 30]

      index           destination  reference_week      next_destination  mmsi
950     950               CONAKRY           False              OFFSHORE    60
2008   2008             GIBRALTAR           False        MISRATAH LIBYA    47
3228   3228        MISRATAH LIBYA           False             GIBRALTAR    48
3637   3637            NOUAKCHOTT           False  NOUAKCHOTT       #??    35
3639   3639  NOUAKCHOTT       #??           False            NOUAKCHOTT    37
3782   3782              OFFSHORE           False               CONAKRY    59
5507   5507                SULINA           False                TULCEA    35
6096   6096                TULCEA           False                SULINA    35

In [ ]:
departure_counts

Link with IHS data to be able to sum, and update input data

In [ ]:
new_routes_df.groupby(['destination', 'date', 'origin'])['mmsi'].count()

destination          date  origin
#HDCR*H!!!)JM0I*!&   15    NLRTM               1
-                    14    -C?M                1
                           -[C?<)RD\K$OQ8)     1
                     15    -C>-                1
-C>-                 15    -                   1
                                              ..
ZONGULDAK#SIA        15    ZONGULDAK TURKEY    1
ZONGULDAKPLAN        15    ZONGULDAK           1
ZOUK                 14    BEIRUT              1
ZRP                  15    KHERSON             1
\I[NCYAH  4(H "   *  15    VITORIA             1
Name: mmsi, Length: 6541, dtype: int64