In [1]:
#allow multiple outputs in one jupyter cell
from IPython.core.interactiveshell import InteractiveShell 
InteractiveShell.ast_node_interactivity = "all"


import pandas as pd
from datetime import datetime
# to apply aggregation functions on spark df
import pyspark.sql.functions as F

In [2]:
# this cell contains the code to access GitLab repo
# need it to install ais package from GitLab repo
import sys
import subprocess

GITLAB_USER = "read_aistt"  # read only access
GITLAB_TOKEN = "MMQ6ky1rnLsuKxjyZuvB"

# clone the repo and install the ais packag
git_package = f"git+https://{GITLAB_USER}:{GITLAB_TOKEN}@code.officialstatistics.org/trade-task-team-phase-1/ais.git"

std_out = subprocess.run([sys.executable, "-m", "pip", "install", git_package], capture_output=True, text=True).stdout
print(std_out)

Collecting git+https://read_aistt:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git
  Cloning https://read_aistt:****@code.officialstatistics.org/trade-task-team-phase-1/ais.git to /tmp/pip-req-build-bwrch6bf
Building wheels for collected packages: ais
  Building wheel for ais (setup.py): started
  Building wheel for ais (setup.py): finished with status 'done'
  Created wheel for ais: filename=ais-2.7.6-py3-none-any.whl size=9267 sha256=afa84e9b418dc8cf7b062c227eda0b5b6a0e379a1bbe5afa0547f33a43f82718
  Stored in directory: /tmp/pip-ephem-wheel-cache-yxoddbwg/wheels/49/e0/a2/25d96a62cf626776ab2fd57fcbd822c2b8118049a84b16953d
Successfully built ais
Installing collected packages: ais
Successfully installed ais-2.7.6

# Chapter I: Access AIS

They provide us a helper function called `get_ais`. We will use this function to extract AIS data fragment.

In [3]:
# import get_ais() from ais package
from ais import functions as af

In [4]:
# details about the function e.g. 
    # input parameters, 
    # output: spark df
    # usage of this function in examples below
af.get_ais?

Signature:
af.get_ais(
    spark: pyspark.sql.session.SparkSession,
    start_date: datetime.datetime,
    end_date: datetime.datetime = None,
    h3_list: Union[List[int], NoneType] = None,
    polygon_hex_df: Union[pyspark.sql.dataframe.DataFrame, NoneType] = None,
    mmsi_list: Union[List[int], NoneType] = None,
    message_type: Union[List[int], NoneType] = [1, 2, 3, 4, 18, 19, 27],
    columns: Union[List[str], NoneType] = ['*'],
    polygon: Union[Dict, NoneType] = None,
    polygon_hex_resolution: Union[int, NoneType] = 8,
) -> pyspark.sql.dataframe.DataFrame
Docstring:
A wrapper function to apply filters on the AIS data.
Note that default parameters for message type are
position message types

Parameters
----------
spark: SparkSession

start_date: datetime
    the start date filter to apply

end_date: datetime
    the end date filter to apply. To filter a single date, use end_date equal to start_date

h3_list: list of int, default None
    h3 indices must be in int format and must have the same resolution.
    if None then it is not applied.

polygon_hex_df: dataframe, from polygon_to_hex_df function
    Dataframe with the following columns (minimum columns to contain) :
    - hex_id: the h3 hex ids (64-bit ints)
    - polygon_name: the name of the polygon
    - hex_resolution: the resolution of the hex (should be the same for all)
    The hex_ids should be contained in only one polygon_name, otherwise resulting dataframe
    will contain duplicate entries.

mmsi_list: list of int, default None
    the list of mmsi filter to apply. if None, then it is not applied

message_type: list of int, default [1,2,3,4,18,19,27] <- position messages
    the list of message types to retain. if not supplied then the default message type filter is applied
    use ["*"] to get all message types

columns: list of str, default ["*"]
    the list of columns to retain. if not supplied, all columns are returned

polygon: Optional[Dict] = None
    GeoJson representation of polygon. If supplied, then the hex approximation of the polygon
    is calculated using poly_container (polygon, hex_resolution, overfill=True). The AIS data
    will be filtered according to hexes first  and then according to polygon using
    Sedona functions:

    select *,  ST_Point(longitude,latitude) as point, ST_GeomFromGeoJSON('{polygon}') as
    polygon from temp where ST_Within(point, polygon)


polygon_hex_resolution: int = 8
    The resolution of the hexagons to fill the input polygon with. Default is 8, a hex with an avg area of 0.737 sq km.
    A polygon with an area of 100 sq. km will contain ~136 resolution 8 hexes. The same 100 sq. km polygon
    can be approximated by ~949 hexes using resolution 9. Note that the higher the resolution, the higher
    the polygon area covered by the hexes. However, a small increase in resolution dramatically increases
    the number of hexes. See https://h3geo.org/docs/core-library/restable/ for a table of hex resolutions.

Returns
-------
Spark dataframe with the filters applied.

Notes
-----
If multiple filters are provided, the most restrictive filters are applied. For example, both polygon and h3_list
are provided where h3_list is a list of hexes fully contained within the polygon. The filtered AIS data will only contain
those within the hexes. Data within the polygon but outside the hexes will not be included.
File:      /opt/conda/lib/python3.8/site-packages/ais/_aisfilter.py
Type:      function

In [5]:
# Example 1: Retrieve data for a single date using get_ais()

# date inputs should be in date time format. dt_insert_utc is the basis for the parquet partitions
start_date = datetime.fromisoformat("2022-01-01")

# spark is the current spark session you are using. Gets automatically created during kernel init. 
df = af.get_ais(spark, start_date)

In [6]:
# spark df (not a pandas df)
type(df)

pyspark.sql.dataframe.DataFrame

In [7]:
# columns in df
# https://en.wikipedia.org/wiki/Automatic_identification_system#Broadcast_information
# https://h3geo.org/ for the H3_int cols (might discuss in upcomiming Workshop)


df.columns

['message_type',
 'mmsi',
 'imo',
 'vessel_name',
 'callsign',
 'vessel_type',
 'vessel_type_code',
 'vessel_type_cargo',
 'vessel_class',
 'length',
 'width',
 'flag_country',
 'flag_code',
 'destination',
 'eta',
 'draught',
 'longitude',
 'latitude',
 'sog',
 'cog',
 'rot',
 'heading',
 'nav_status',
 'nav_status_code',
 'source',
 'dt_pos_utc',
 'dt_static_utc',
 'dt_insert_utc',
 'vessel_type_main',
 'vessel_type_sub',
 'eeid',
 'source_filename',
 'H3index_0',
 'H3_int_index_0',
 'H3_int_index_1',
 'H3_int_index_2',
 'H3_int_index_3',
 'H3_int_index_4',
 'H3_int_index_5',
 'H3_int_index_6',
 'H3_int_index_7',
 'H3_int_index_8',
 'H3_int_index_9',
 'H3_int_index_10',
 'H3_int_index_11',
 'H3_int_index_12',
 'H3_int_index_13',
 'H3_int_index_14',
 'H3_int_index_15']

In [8]:
# name and type of each column in df
df.printSchema()

root
 |-- message_type: integer (nullable = true)
 |-- mmsi: integer (nullable = true)
 |-- imo: integer (nullable = true)
 |-- vessel_name: string (nullable = true)
 |-- callsign: string (nullable = true)
 |-- vessel_type: string (nullable = true)
 |-- vessel_type_code: integer (nullable = true)
 |-- vessel_type_cargo: string (nullable = true)
 |-- vessel_class: string (nullable = true)
 |-- length: double (nullable = true)
 |-- width: double (nullable = true)
 |-- flag_country: string (nullable = true)
 |-- flag_code: integer (nullable = true)
 |-- destination: string (nullable = true)
 |-- eta: integer (nullable = true)
 |-- draught: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- sog: double (nullable = true)
 |-- cog: double (nullable = true)
 |-- rot: double (nullable = true)
 |-- heading: double (nullable = true)
 |-- nav_status: string (nullable = true)
 |-- nav_status_code: integer (nullable = true)
 |-- source: string (nullable = true)
 |-- dt_pos_utc: timestamp (nullable = true)
 |-- dt_static_utc: timestamp (nullable = true)
 |-- dt_insert_utc: timestamp (nullable = true)
 |-- vessel_type_main: string (nullable = true)
 |-- vessel_type_sub: string (nullable = true)
 |-- eeid: long (nullable = true)
 |-- source_filename: string (nullable = true)
 |-- H3index_0: string (nullable = true)
 |-- H3_int_index_0: long (nullable = true)
 |-- H3_int_index_1: long (nullable = true)
 |-- H3_int_index_2: long (nullable = true)
 |-- H3_int_index_3: long (nullable = true)
 |-- H3_int_index_4: long (nullable = true)
 |-- H3_int_index_5: long (nullable = true)
 |-- H3_int_index_6: long (nullable = true)
 |-- H3_int_index_7: long (nullable = true)
 |-- H3_int_index_8: long (nullable = true)
 |-- H3_int_index_9: long (nullable = true)
 |-- H3_int_index_10: long (nullable = true)
 |-- H3_int_index_11: long (nullable = true)
 |-- H3_int_index_12: long (nullable = true)
 |-- H3_int_index_13: long (nullable = true)
 |-- H3_int_index_14: long (nullable = true)
 |-- H3_int_index_15: long (nullable = true)

In [9]:
# display data contained in 1st row of df. 
# Each row represents a single AIS message transmitted by a single ship
df.show(n=1, vertical=True, truncate=False)

-RECORD 0---------------------------------------------------------------------------------------------------------------------------
 message_type      | 1
 mmsi              | 205654000
 imo               | 9691279
 vessel_name       | DN97
 callsign          | ORRK
 vessel_type       | Port Tender
 vessel_type_code  | 53
 vessel_type_cargo | null
 vessel_class      | A
 length            | 17.0
 width             | 6.0
 flag_country      | Belgium
 flag_code         | 205
 destination       | ZEEBRUGGE
 eta               | 10081400
 draught           | 1.2
 longitude         | 3.20316
 latitude          | 51.32248833
 sog               | 0.0
 cog               | 0.0
 rot               | 0.0
 heading           | 0.0
 nav_status        | Not Defined
 nav_status_code   | 15
 source            | T-AIS
 dt_pos_utc        | 2022-01-01 21:17:43
 dt_static_utc     | 2022-01-01 21:14:24
 dt_insert_utc     | 2022-01-01 21:17:48
 vessel_type_main  | null
 vessel_type_sub   | null
 eeid              | 4897682788452534256
 source_filename   | s3a://ungp-ais-data-historical-backup/exact-earth-data/nonprod/year=2022/month=01/day=01/20220101211833.csv.gz
 H3index_0         | 8019fffffffffff
 H3_int_index_0    | 576918149140578303
 H3_int_index_1    | 581412952674926591
 H3_int_index_2    | 585913253767413759
 H3_int_index_3    | 590416715955830783
 H3_int_index_4    | 594920306993266687
 H3_int_index_5    | 599423900178186239
 H3_int_index_6    | 603927499402903551
 H3_int_index_7    | 608431098929610751
 H3_int_index_8    | 612934698542301183
 H3_int_index_9    | 617438298168098815
 H3_int_index_10   | 621941897795403775
 H3_int_index_11   | 626445497422761983
 H3_int_index_12   | 630949097050129919
 H3_int_index_13   | 635452696677454463
 H3_int_index_14   | 639956296304824911
 H3_int_index_15   | 644459895932195403
only showing top 1 row

In [10]:
# number of rows in df
# Remember we only retrieved data for a single day and it is still 22 million rows so please make sure to always use a filter when retrieving data
df.count()

22136014

In [11]:
# Example 2: Filter data  on date and specific columns

columns = ["mmsi", "latitude", "longitude", "vessel_type", "dt_insert_utc", "eeid"]
start_date = datetime.fromisoformat("2022-01-01")

df = af.get_ais(spark, 
                start_date, 
                columns=columns)

In [12]:
# same number of rows
df.count()
# but filtered columns
df.columns

22136014

['mmsi', 'latitude', 'longitude', 'vessel_type', 'dt_insert_utc', 'eeid']

In [13]:
# Example 3: Retrieve data filtered on a range of dates and specific columns
# 160 Million rows retrieved
columns = ["mmsi", "latitude", "longitude", "vessel_type", "dt_insert_utc", "eeid"]
start_date = datetime.fromisoformat("2022-01-01")
end_date = datetime.fromisoformat("2022-01-07")

df = af.get_ais(spark, 
                start_date, 
                end_date = end_date, 
                columns=columns)
df.count()

160650992

In [14]:
# counting ais messages by date of insertion
    # dt_insert_utc for dates
    # eeid as unique row identifier
    
count_ais_by_date = df.withColumn("date", F.col("dt_insert_utc").cast("date")) \
        .groupby('date')  \
        .agg(F.count("eeid").alias("count")) \
        .orderBy("date")

count_ais_by_date.show()

+----------+--------+
|      date|   count|
+----------+--------+
|2022-01-01|22136014|
|2022-01-02|22813495|
|2022-01-03|22998973|
|2022-01-04|23132660|
|2022-01-05|23113870|
|2022-01-06|23319382|
|2022-01-07|23136598|
+----------+--------+

In [15]:
# groupby based on mmsi and date both
count_ais_per_mmsi_per_date = df.withColumn("date",F.col("dt_insert_utc").cast("date")) \
        .groupby("mmsi","date")  \
        .agg(F.count("eeid").alias("count")) \
        .orderBy("mmsi","date")

count_ais_per_mmsi_per_date.show()

+---------+----------+-----+
|     mmsi|      date|count|
+---------+----------+-----+
|201000000|2022-01-01|   43|
|201000000|2022-01-02|   79|
|201000000|2022-01-03|   68|
|201000000|2022-01-04|   89|
|201000000|2022-01-05|   70|
|201000000|2022-01-06|   59|
|201000000|2022-01-07|   72|
|201000058|2022-01-02|   84|
|201000058|2022-01-03|  103|
|201000058|2022-01-04|   86|
|201000058|2022-01-05|   37|
|201000115|2022-01-03|   89|
|201000115|2022-01-04|  153|
|201000115|2022-01-05|  125|
|201000115|2022-01-07|    1|
|201000128|2022-01-07|    2|
|201000131|2022-01-02|   39|
|201000131|2022-01-03|   96|
|201000131|2022-01-04|  118|
|201000131|2022-01-07|   82|
+---------+----------+-----+
only showing top 20 rows

In [16]:
# first this function and then pass on its output with get_ais()
af.polygon_to_hex_df?

Signature:
af.polygon_to_hex_df(
    polygons: List[Tuple[str, Dict]],
    hex_resolution: int = 8,
    overfill=False,
) -> pandas.core.frame.DataFrame
Docstring:
A wrapper for h3.polyfill that returns integer hex ids for multiple polygons.

Parameters
----------
polygons: list of tuples
    the first element in this tuple is expected to be a (name) string
    identifier for the polygon and the second element is the polygon itself (see example above)

hex_resolution: int, default 8
    the resolution of the hexagons to fill the input polygon with. Default is 8, a hex with an avg area of 0.737 sq km.
    A polygon with an area of 100 sq. km will contain ~136 resolution 8 hexes. The same 100 sq. km polygon
    can be approximated by ~949 hexes using resolution 9. Note that the higher the resolution, the higher
    the polygon area covered by the hexes. However, a small increase in resolution dramatically increases
    the number of hexes. See https://h3geo.org/docs/core-library/restable/ for a table of hex resolutions.

Returns
-------
Dataframe with the following columns:
    - hex_id: the h3 hex ids (64-bit ints)
    - polygon_name: the name of the polygon
    - hex_resolution: the resolution of the hex

>>>hull_bbox = {
    "type": "Polygon",
    "coordinates": [
        [
            [-0.3169, 53.7344],
            [-0.2537, 53.7344],
            [-0.2537, 53.75],
            [-0.3169, 53.75],
            [-0.3169, 53.7344]
        ]
    ]
}
>>>london_bbox = {
    "type": "Polygon",
    "coordinates": [
        [
            [-0.1203, 51.4415],
            [0.5869, 51.4415],
            [0.5869, 51.5262],
            [-0.1203, 51.5262],
            [-0.1203, 51.4415]
        ]
    ]
}
>>>query_polys = [("HullPortArea", hull_bbox),("LondonPortArea", london_bbox)]
>>>polygon_to_hex_df(query_polys, 10)
                   hex_id    polygon_name  hex_resolution
0      621940969126789119    HullPortArea              10
1      621940969212772351    HullPortArea              10
2      621940969214869503    HullPortArea              10
3      621940974334017535    HullPortArea              10
4      621940969137274879    HullPortArea              10
                   ...             ...             ...
34427  621941942979756031  LondonPortArea              10
34428  621941942943285247  LondonPortArea              10
34429  621941942854713343  LondonPortArea              10
34430  621941942818242559  LondonPortArea              10
34431  621941940535295999  LondonPortArea              10
File:      /opt/conda/lib/python3.8/site-packages/ais/_poly.py
Type:      function

In [17]:
# 2nd parameter for polygon_to_hex_df() 
    #	https://boundingbox.klokantech.com/
# polygon coordinates in geojson format
colombo_polygon = {
        "type": "Polygon",
        "coordinates": [
            [
                [79.8133756779, 6.9156963109],    # longitude, latitude
                [79.8659040593, 6.9156963109],
                [79.8659040593, 6.9719290586],
                [79.8133756779, 6.9719290586],
                [79.8133756779, 6.9156963109]
            ]
        ]
    }

In [18]:
# first parameter for polygon_to_hex_df() is the name/label for the polygon
polygon_hex_df_colombo = af.polygon_to_hex_df([("Colombo_Port_Polygon", colombo_polygon)])

In [19]:
start_date = datetime.fromisoformat("2022-01-01")
end_date = datetime.fromisoformat("2022-01-07")
columns = ["mmsi", "latitude", "longitude", "eeid", "dt_insert_utc"]

# pass polygon_hex_df to get_ais()
df = af.get_ais(spark,
                start_date, 
                end_date = end_date,
                columns = columns,
                polygon_hex_df = polygon_hex_df_colombo  
                
               )

df.count()

47568

In [20]:
# ais messages captured in the Colombo port region
df.show(n=5)

+--------------+-----------+---------+-------------------+------------------+----------+-------------------+--------------------+
|hex_resolution|  longitude|     mmsi|               eeid|    H3_int_index_8|  latitude|      dt_insert_utc|        polygon_name|
+--------------+-----------+---------+-------------------+------------------+----------+-------------------+--------------------+
|             8|79.83612333|215181000|4961193053983565512|614197965673725951|   6.94602|2022-01-01 00:33:57|Colombo_Port_Polygon|
|             8|79.83608833|215181000|4961193053983565512|614197965673725951|6.94600833|2022-01-01 02:33:54|Colombo_Port_Polygon|
|             8|   79.83611|215181000|4961193053983565512|614197965673725951|6.94600667|2022-01-01 04:12:56|Colombo_Port_Polygon|
|             8|  79.836115|215181000|4961193053983565512|614197965673725951|6.94600667|2022-01-01 05:24:55|Colombo_Port_Polygon|
|             8|79.83613333|215181000|4961193053983565512|614197965673725951|6.94601167|2022-01-01 00:57:55|Colombo_Port_Polygon|
+--------------+-----------+---------+-------------------+------------------+----------+-------------------+--------------------+
only showing top 5 rows

# Chapter II: Accessing IHS Data 
- ship registry data in s3
- includes details about ship on a very granular level

In [21]:
basepath = "s3a://ungp-ais-data-historical-backup/register/"

# first file 
df_ship_data = spark.read.load(basepath+ "ShipData.CSV", 
                     format="csv", sep=",", inferSchema="true", header="true")

df_ship_data.printSchema()

root
 |-- LRIMOShipNo: integer (nullable = true)
 |-- StatCode5: string (nullable = true)
 |-- AlterationsDescriptiveNarrative: string (nullable = true)
 |-- PropulsionTypeCode: string (nullable = true)
 |-- ShipName: string (nullable = true)
 |-- ExName: string (nullable = true)
 |-- MaritimeMobileServiceIdentityMMSINumber: integer (nullable = true)
 |-- RegisteredOwnerCode: integer (nullable = true)
 |-- RegisteredOwnerCountryOfRegistration: string (nullable = true)
 |-- RegisteredOwnerCountryofDomicile: string (nullable = true)
 |-- ShipManagerCompanyCode: integer (nullable = true)
 |-- ShipManagerCountryOfRegistration: string (nullable = true)
 |-- ShipManagerCountryofDomicileName: string (nullable = true)
 |-- GroupBeneficialOwnerCompanyCode: integer (nullable = true)
 |-- GroupBeneficialOwnerCountryOfRegistration: string (nullable = true)
 |-- GroupBeneficialOwnerCountryofDomicile: string (nullable = true)
 |-- OperatorCompanyCode: integer (nullable = true)
 |-- OperatorCountryOfRegistration: string (nullable = true)
 |-- OperatorCountryofDomicileName: string (nullable = true)
 |-- FlagCode: string (nullable = true)
 |-- PortofRegistryCode: integer (nullable = true)
 |-- Tonnagesystem69convention: string (nullable = true)
 |-- GrossTonnage: integer (nullable = true)
 |-- Deadweight: integer (nullable = true)
 |-- LengthOverallLOA: double (nullable = true)
 |-- LengthBetweenPerpendicularsLBP: double (nullable = true)
 |-- LengthRegistered: double (nullable = true)
 |-- DateOfBuild: integer (nullable = true)
 |-- ShipbuilderCompanyCode: string (nullable = true)
 |-- YardNumber: string (nullable = true)
 |-- NumberofDecks: integer (nullable = true)
 |-- HoldsDescriptiveNarrative: string (nullable = true)
 |-- TanksDescriptiveNarrative: string (nullable = true)
 |-- NumberofHatches: integer (nullable = true)
 |-- NumberofHolds: integer (nullable = true)
 |-- NumberofTanks: integer (nullable = true)
 |-- InsulatedCapacity: integer (nullable = true)
 |-- TEU: integer (nullable = true)
 |-- NumberofMainEngines: integer (nullable = true)
 |-- Powerbhpihpshpmax: integer (nullable = true)
 |-- Powerkwmax: integer (nullable = true)
 |-- MainEngineBuilderCode: string (nullable = true)
 |-- MainEngineDesigner: string (nullable = true)
 |-- MainEngineModel: string (nullable = true)
 |-- Speed: double (nullable = true)
 |-- Speedmax: double (nullable = true)
 |-- Speedservice: double (nullable = true)
 |-- FuelConsumptionTotal: double (nullable = true)
 |-- CallSign: string (nullable = true)
 |-- OfficialNumber: string (nullable = true)
 |-- HullMaterialCode: string (nullable = true)
 |-- DeathDate: integer (nullable = true)
 |-- DateBreakingCommenced: integer (nullable = true)
 |-- CompensatedGrossTonnageCGT: integer (nullable = true)
 |-- HullTypeCode: string (nullable = true)
 |-- MARPOL13GPhaseoutCategory: integer (nullable = true)
 |-- PermanentBallastCapacity: integer (nullable = true)
 |-- SegregatedBallastTanks: string (nullable = true)
 |-- HeatingCoilsinCargoTanks: string (nullable = true)
 |-- FlashPointOver60c: string (nullable = true)
 |-- FlashPointUnder60c: string (nullable = true)
 |-- ShipStatusCode: string (nullable = true)
 |-- ShipStatusEffectiveDate: integer (nullable = true)
 |-- ClassificationSocietyCode: string (nullable = true)
 |-- AuxiliaryEnginesNarrative: string (nullable = true)
 |-- BreadthExtreme: double (nullable = true)
 |-- BreadthMoulded: double (nullable = true)
 |-- ClassNarrative: string (nullable = true)
 |-- ClassificationSociety: string (nullable = true)
 |-- ConstructionDescriptiveNarrative: string (nullable = true)
 |-- ConsumptionSpeed1: double (nullable = true)
 |-- ConsumptionSpeed2: double (nullable = true)
 |-- ConsumptionValue1: double (nullable = true)
 |-- ConsumptionValue2: double (nullable = true)
 |-- Depth: double (nullable = true)
 |-- Displacement: integer (nullable = true)
 |-- Draught: double (nullable = true)
 |-- FlagName: string (nullable = true)
 |-- FuelType1Capacity: double (nullable = true)
 |-- FuelType1First: string (nullable = true)
 |-- FuelType2Capacity: double (nullable = true)
 |-- FuelType2Second: string (nullable = true)
 |-- IceCapabilityDescriptiveNarrative: string (nullable = true)
 |-- LightDisplacementTonnage: integer (nullable = true)
 |-- MainEngineRPM: integer (nullable = true)
 |-- MainEngineStrokeType: string (nullable = true)
 |-- MainEngineType: string (nullable = true)
 |-- NetTonnage: integer (nullable = true)
 |-- NumberOfAllEngines: integer (nullable = true)
 |-- NumberOfAuxiliaryEngines: integer (nullable = true)
 |-- NumberofGenerators: integer (nullable = true)
 |-- NumberOfPropulsionUnits: integer (nullable = true)
 |-- NumberofThrusters: integer (nullable = true)
 |-- Powerbhpihpshpservice: integer (nullable = true)
 |-- Powerkwservice: integer (nullable = true)
 |-- PrimeMoverDescriptiveNarrative: string (nullable = true)
 |-- PropellerType: string (nullable = true)
 |-- PropulsionType: string (nullable = true)
 |-- ShipStatus: string (nullable = true)
 |-- ShiptypeLevel5: string (nullable = true)
 |-- TotalBunkerCapacity: double (nullable = true)
 |-- TotalHorsepowerofAuxiliaryGenerators: integer (nullable = true)
 |-- TotalHorsepowerofMainEngines: integer (nullable = true)
 |-- TotalHorsepowerofMainGenerators: integer (nullable = true)
 |-- TotalKilowattsofMainEngines: integer (nullable = true)
 |-- TotalPowerOfAllEngines: integer (nullable = true)
 |-- TotalPowerOfAuxiliaryEngines: integer (nullable = true)

In [22]:
# select only relevant cols from spark df
print('Loading ShipData.CSV (few cols) .....')
ship_data = df_ship_data.select("StatCode5", "MaritimeMobileServiceIdentityMMSINumber", "ShipStatusEffectiveDate",
                               "ShiptypeLevel5", "LRIMOShipNo").toPandas()

ship_data.shape
ship_data.head()

Loading ShipData.CSV (few cols) .....

(246724, 5)

,StatCode5,MaritimeMobileServiceIdentityMMSINumber,ShipStatusEffectiveDate,ShiptypeLevel5,LRIMOShipNo
0,X11A2YP,NaN,19610000,Yacht,1000019
1,X11A2YP,NaN,19951000,Yacht,1000021
2,X11A2YP,234028000.0,19950512,Yacht,1000033
3,X11A2YP,239488000.0,19950429,Yacht,1000045
4,X11A2YP,NaN,20220601,Yacht,1000057

In [23]:
# second file read ship codes
df_ship_code = spark.read.load(basepath + "tblShipTypeCodes.CSV", 
                     format="csv", sep=",", inferSchema="true", header="true")

df_ship_code.printSchema()

# select only relevant cols from spark df
ship_code = df_ship_code.select("StatCode5", "ShipTypeLevel1", "ShipTypeLevel2", "ShipTypeLevel3", "ShipTypeLevel4", "ShipTypeLevel5", 
                                "SubGroup", "SubType").toPandas()

print('Loading tblShipTypeCodes.csv (few cols) ....')
ship_code.shape
ship_code.head()

root
 |-- StatCode5: string (nullable = true)
 |-- ShiptypeLevel5: string (nullable = true)
 |-- Level4Code: string (nullable = true)
 |-- ShipTypeLevel4: string (nullable = true)
 |-- Level3Code: string (nullable = true)
 |-- ShipTypeLevel3: string (nullable = true)
 |-- Level2Code: string (nullable = true)
 |-- ShipTypeLevel2: string (nullable = true)
 |-- ShipTypeLevel1Code: string (nullable = true)
 |-- ShiptypeLevel1: string (nullable = true)
 |-- HullType: string (nullable = true)
 |-- SubGroup: string (nullable = true)
 |-- SubType: string (nullable = true)

Loading tblShipTypeCodes.csv (few cols) ....

(295, 8)

,StatCode5,ShipTypeLevel1,ShipTypeLevel2,ShipTypeLevel3,ShipTypeLevel4,ShipTypeLevel5,SubGroup,SubType
0,A11A2TN,Cargo Carrying,Tankers,Liquefied Gas,LNG Tanker,LNG Tanker,Petroleum Products,LNG Tanker
1,A11A2TQ,Cargo Carrying,Tankers,Liquefied Gas,LNG Tanker,CNG Tanker,Petroleum Products,CNG Tanker
2,A11A2TZ,Cargo Carrying,Tankers,Liquefied Gas,LNG Tanker,Combination Gas Tanker (LNG/LPG),Petroleum Products,Combination Gas Tanker
3,A11B2TG,Cargo Carrying,Tankers,Liquefied Gas,LPG Tanker,LPG Tanker,Petroleum Products,LPG Tanker
4,A11B2TH,Cargo Carrying,Tankers,Liquefied Gas,LPG Tanker,LPG/Chemical Tanker,Petroleum Products,LPG/Chemical Tanker

In [24]:
# left join ship_data to ship_code
merged_ihs_df = pd.merge(ship_data, ship_code, left_on='StatCode5', right_on='StatCode5', how='left')
merged_ihs_df.head()

,StatCode5,MaritimeMobileServiceIdentityMMSINumber,ShipStatusEffectiveDate,ShiptypeLevel5,LRIMOShipNo,ShipTypeLevel1,ShipTypeLevel2,ShipTypeLevel3,ShipTypeLevel4,ShipTypeLevel5,SubGroup,SubType
0,X11A2YP,NaN,19610000,Yacht,1000019,Non Merchant,Non-Merchant Ships,Yacht,Yacht,Yacht,Yacht,"Yacht, Private"
1,X11A2YP,NaN,19951000,Yacht,1000021,Non Merchant,Non-Merchant Ships,Yacht,Yacht,Yacht,Yacht,"Yacht, Private"
2,X11A2YP,234028000.0,19950512,Yacht,1000033,Non Merchant,Non-Merchant Ships,Yacht,Yacht,Yacht,Yacht,"Yacht, Private"
3,X11A2YP,239488000.0,19950429,Yacht,1000045,Non Merchant,Non-Merchant Ships,Yacht,Yacht,Yacht,Yacht,"Yacht, Private"
4,X11A2YP,NaN,20220601,Yacht,1000057,Non Merchant,Non-Merchant Ships,Yacht,Yacht,Yacht,Yacht,"Yacht, Private"

# Chapter III: How to Save processed data to s3 for your next notebook session?
- Store your data in your designated s3 directories only
    - save in parquet format
        - faster query performance
        - less data size
    - save in pickle format
    - csv not recommended

In [25]:
!pip install s3fs
import s3fs 

# create a handle for s3fs
fs = s3fs.S3FileSystem(anon=False)

WARNING: The directory '/home/sparkuser/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting s3fs
  Downloading s3fs-2022.10.0-py3-none-any.whl (27 kB)
Collecting fsspec==2022.10.0
  Downloading fsspec-2022.10.0-py3-none-any.whl (138 kB)
     || 138 kB 41.2 MB/s eta 0:00:01
Collecting aiobotocore~=2.4.0
  Downloading aiobotocore-2.4.0-py3-none-any.whl (65 kB)
     || 65 kB 80.1 MB/s eta 0:00:01
Collecting aiohttp!=4.0.0a0,!=4.0.0a1
  Downloading aiohttp-3.8.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     || 1.0 MB 65.1 MB/s eta 0:00:01
Collecting botocore<1.27.60,>=1.27.59
  Downloading botocore-1.27.59-py3-none-any.whl (9.1 MB)
     || 9.1 MB 44.8 MB/s eta 0:00:01
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Collecting wrapt>=1.10.10
  Downloading wrapt-1.14.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (81 kB)
     || 81 kB 67.3 MB/s eta 0:00:01
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (262 kB)
     || 262 kB 98.3 MB/s eta 0:00:01
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.8/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (21.2.0)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.1-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (161 kB)
     || 161 kB 85.7 MB/s eta 0:00:01
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (121 kB)
     || 121 kB 99.0 MB/s eta 0:00:01
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Collecting charset-normalizer<3.0,>=2.0
  Downloading charset_normalizer-2.1.1-py3-none-any.whl (39 kB)
Collecting typing_extensions>=4.0
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.8/site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.0->s3fs) (1.26.4)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.8/site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.0->s3fs) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.0->s3fs) (1.15.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.8/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.10)
Installing collected packages: multidict, frozenlist, yarl, typing-extensions, jmespath, charset-normalizer, async-timeout, aiosignal, wrapt, botocore, aioitertools, aiohttp, fsspec, aiobotocore, s3fs
Successfully installed aiobotocore-2.4.0 aiohttp-3.8.3 aioitertools-0.11.0 aiosignal-1.2.0 async-timeout-4.0.2 botocore-1.27.59 charset-normalizer-2.1.1 frozenlist-1.3.1 fsspec-2022.10.0 jmespath-1.0.1 multidict-6.0.2 s3fs-2022.10.0 typing-extensions-4.4.0 wrapt-1.14.1 yarl-1.8.1
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv
WARNING: You are using pip version 21.1.2; however, version 22.3.1 is available.
You should consider upgrading via the '/opt/conda/bin/python -m pip install --upgrade pip' command.

In [27]:
# path to store your data on s3
s3_root_path = "s3a://team-datadive-582958291898-mvvpu"

In [28]:
# ls command to display the list of files located on a path
fs.ls(s3_root_path)

PermissionError: Access Denied

In [ ]:
# write as parquet to s3
tmp_out_path=f"{s3_root_path}/pengfei/output/ihs_data.parquet"
merged_ihs_df.to_parquet(tmp_out_path)

# read parquet as pandas df from s3
new_df_parquet = pd.read_parquet(tmp_out_path)
new_df_parquet.shape

In [ ]:
# remove files in a dir
fs.rm(tmp_out_path)

# Download results to local machine
- only allowed for small datasets
- save in csv format

In [29]:
# note af is provided by the hackthon
af.create_download_link(merged_ihs_df.head(20), title = "Download CSV file", filename = "myresults.csv")

# Terminate processes
- to save cost and resources

In [30]:
# stop spark session
spark.stop()

# shut down the kernel

# log out

# Best practices
- Save your notebooks after regular intervals
- Save your processed data in s3 for later use (instead of re-running the same notebook)
- Download only the results to your local machine
- Shut down spark, kernel and NB when not in use