In [2]:
import os
os.getcwd()

'/home/onyxia/work/hackathon-un-2022/notebooks'

In [4]:
os.chdir("..")
import utils.functions as fc

In [45]:
from importlib import reload
fc = reload(fc)

In [26]:
ship_data_enriched = fc.create_ship_data_enriched()
AIS = fc.read_ais_parquet()
#AIS_enriched = fc.enrich_AIS_data(
#    AIS, ship_data_enriched
#)

In [24]:
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [36]:
AIS_enriched = fc.enrich_AIS_data(
    AIS, ship_data_enriched
)

In [37]:
AIS_enriched.drop_duplicates('mmsi').agg({"mmsi": "nunique"})

mmsi    1862
dtype: int64

In [40]:
fc.count_boats(AIS_enriched, unique_id = "mmsi")

mmsi    1862
dtype: int64

In [65]:
fc.count_boats(AIS_enriched, by = "ShipTypeLevel1")

KeyError: 'ShipTypeLevel1_x'

In [64]:
AIS_enriched.drop_duplicates(subset = "mmsi").filter(like = "Ship")

,LRIMOShipNo,ShipName,ShipManagerCompanyCode,ShipManagerCountryOfRegistration,ShipManagerCountryofDomicileName,ShipbuilderCompanyCode,ShipStatusCode,ShipStatusEffectiveDate,ShipStatus,ShiptypeLevel5_x,ShiptypeLevel5_y,ShipTypeLevel4,ShipTypeLevel3,ShipTypeLevel2,ShipTypeLevel1Code,ShiptypeLevel1
0,9904572,NIBULON-8,4169471,Ukraine,Ukraine,UKE007100,S,20190101,In Service/Commission,Pusher Tug,Pusher Tug,Pusher Tug,Towing / Pushing,Miscellaneous,B,Work Vessel
391,9608661,NIBULON-2,4169471,Ukraine,Ukraine,UKE014110,S,20111019,In Service/Commission,Pusher Tug,Pusher Tug,Pusher Tug,Towing / Pushing,Miscellaneous,B,Work Vessel
873,7115957,CREDO,5804551,Panama,Panama,USR012019,S,20220210,In Service/Commission,General Cargo Ship,General Cargo Ship,General Cargo Ship,General Cargo,Dry Cargo/Passenger,A,Cargo Carrying
1563,9200029,MEHMET UNLU,4026595,Turkey,Turkey,TRK017150,S,20211023,In Service/Commission,General Cargo Ship,General Cargo Ship,General Cargo Ship,General Cargo,Dry Cargo/Passenger,A,Cargo Carrying
1894,6919148,KILIYA,1324961,Ukraine,Ukraine,USR046058,S,19660000,In Service/Commission,General Cargo Ship,General Cargo Ship,General Cargo Ship,General Cargo,Dry Cargo/Passenger,A,Cargo Carrying
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
934296,9418080,KEMAL KURU,1569100,Turkey,Turkey,CHR295050,S,20210328,In Service/Commission,General Cargo Ship,General Cargo Ship,General Cargo Ship,General Cargo,Dry Cargo/Passenger,A,Cargo Carrying
934316,9260263,SW JULIA I,1796721,Monaco,Monaco,KRS086056,S,20030926,In Service/Commission,Chemical/Products Tanker,Chemical/Products Tanker,Chemical/Oil Products Tanker,Chemical,Tankers,A,Cargo Carrying
934333,8509363,SEASPIRIT,6022607,Marshall Islands,Marshall Islands,GFR209050,S,19981112,In Service/Commission,General Cargo Ship,General Cargo Ship,General Cargo Ship,General Cargo,Dry Cargo/Passenger,A,Cargo Carrying
934350,9314894,ARION,5544359,Panama,Greece,KRS086056,S,20071112,In Service/Commission,Chemical/Products Tanker,Chemical/Products Tanker,Chemical/Oil Products Tanker,Chemical,Tankers,A,Cargo Carrying
934367,8558015,OZDEMIRLER 1,9992181,Turkey,Turkey,TRK000015,S,20080101,In Service/Commission,Fishing Vessel,Fishing Vessel,Fishing Vessel,Fish Catching,Fishing,B,Work Vessel

In [63]:
AIS_enriched.drop_duplicates(subset = "mmsi").value_counts("ShiptypeLevel1")
AIS_enriched.drop_duplicates(subset = "mmsi").value_counts("ShiptypeLevel2")

KeyError: 'ShiptypeLevel2'

In [51]:
df = AIS_enriched
unique_id = "mmsi"
by = "ShipTypeLevel1"

df.drop_duplicates(subset = unique_id).value_counts(by)
value_counts

KeyError: 'ShipTypeLevel1'